<div #container class="mission">
    <div #h3tag class="mission-container">
        <img src="assets/Home/mission.webp" alt="">
    </div>
    
    <div class="mission-content">
        <div class="mission-text">
            <h3 #h3tag>
                <span>O</span>
                <span>U</span>
                <span>R</span>
                <span>&nbsp;</span>
                <span>M</span>
                <span>I</span>
                <span>S</span>
                <span>S</span>
                <span>I</span>
                <span>O</span>
                <span>N</span>
            </h3>
            <h2 #h3tag>Your Safety, Our Responsibility</h2>
            <p #h3tag>To protect lives and property through innovative, reliable fire protection solutions. We ensure compliance and excellence in design, installation, and maintenance. With continuous training and advanced technology, we create safer environments. Our dedicated team strives for excellence in serving our clients and communities.</p>
        </div>
    </div>
</div>