<div #container class="mission">
    <div #h3tag class="mission-container">
        <img src="assets/Home/mission.jpeg" alt="">
    </div>
    
    <div class="mission-content">
        <div class="mission-text">
            <h3 #h3tag>
                <span>O</span>
                <span>U</span>
                <span>R</span>
                <span>&nbsp;</span>
                <span>M</span>
                <span>I</span>
                <span>S</span>
                <span>S</span>
                <span>I</span>
                <span>O</span>
                <span>N</span>
            </h3>
            <h2 #h3tag>Your Safety, Our Responsibility</h2>
            <p #h3tag>At NFPA India Private Limited, our mission is to safeguard lives and property through innovative, 
                reliable, and comprehensive fire protection solutions. We are committed to delivering excellence 
                in the design, installation, and maintenance of fire safety systems, ensuring compliance with all 
                regulatory standards. Through continuous training, advanced technology, and a dedicated team, 
                we strive to create safer environments for our clients and communities.
            </p>
        </div>
    </div>
</div>