<div class="main-container">
    <div class="container">
        <div class="img-container"
            style="background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), 
            url('{{chartImage}}') 
            no-repeat center center;"
        >
            <img src="{{chartImage}}" alt="">
        </div>
        <div class="content-container">
            <div class="title-chart-container">
                <div class="title-container">
                    <h2>500+ <span>HAPPY :)</span> FACES</h2>
                </div>
                <div class="chart-container">
                    <canvas #clientChart id="clientChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>