<div class="container">
    <div class="title-container">
        <h3 #title>OUR SERVICES</h3>
        <h2 #title>We Care, We Deliver, We Protect</h2>
    </div>
    <div class="services-container"
        style="background: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 1)), 
        url('assets/Home/services.webp') no-repeat center center;"
    >
        <div #mySwiper class="mySwiper swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" #slide3>
                    <a routerLink="/total-systems/AMC" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <div class="capsule-container">
                            <div class="image-class">
                                <img src="assets/Home/Services/amc.png" alt="App Support">
                            </div>
                            <div class="text-content">
                                <strong>AMC</strong>
                                <p>Service Agreement designed to ensure the continued reliability and effectiveness.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" #slide4>
                    <a routerLink="/total-systems/Repair" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <div class="capsule-container">
                            <div class="image-class">
                                <img src="assets/Home/Services/repair.png" alt="QR Code">
                            </div>
                            <div class="text-content">
                                <strong>Repair</strong>
                                <p>Maintenance and Restoration of Fire Protection Systems.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" #slide>
                    <a routerLink="/total-systems/Audit" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <div class="capsule-container">
                            <div class="image-class">
                                <img src="assets/Home/Services/audit.png" alt="Breakdown">
                            </div>
                            <div class="text-content">
                                <strong>Fire Audit</strong>
                                <p>Thorough evaluations of a Building's fire safety measures.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" #slide>
                    <a routerLink="/total-systems/Refill" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <div class="capsule-container">
                            <div class="image-class">
                                <img src="assets/Home/Services/refill.png" alt="Servicing">
                            </div>
                            <div class="text-content">
                                <strong>Fire Extinguisher Refilling</strong>
                                <p>Replenishing the Extinguishing agent in a Fire Extinguisher.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" #slide>
                    <a>
                        <div class="capsule-container">
                            <div class="image-class">
                                <img src="assets/Home/Services/consulting.png" alt="Consulting">
                            </div>
                            <div class="text-content">
                                <strong>Consulting</strong>
                                <p>Expert advice on fire safety and protection systems tailored to your needs.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" #slide>
                    <a routerLink="/total-systems/Training" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <div class="capsule-container">
                            <div class="image-class">
                                <img src="assets/Home/Services/training.png" alt="Form B">
                            </div>
                            <div class="text-content">
                                <strong>Training</strong>
                                <p>Fire training is an essential service aimed at managing fire emergencies.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" #slide1>
                    <a routerLink="/total-systems/Licensing" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <div class="capsule-container">
                            <div class="image-class">
                                <img src="assets/Home/Services/license.png" alt="Audit">
                            </div>
                            <div class="text-content">
                                <strong>Licensing</strong>
                                <p>Ensuring all Fire Protection Equipment meet the required legal and safety standards.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>