<div class="footer">
  <footer #footer>
    <div class="cont1">
      <div class="name">
        <img #logo src="assets/Common/logo.png" alt="">
        <h3 #logo>NFPA INDIA PVT. LTD.</h3>
      </div>
      <div class="about">
        <h2 #aboutText>NATIONAL FIRE PROTECTION ARMOUR</h2>
        <p #aboutText>GOVT. APPROVED CLASS-A AGENCY</p>
      </div>
      <div class="logos">
        <img #socialLogos src="assets/Common/instagram.png" alt="">
        <img #socialLogos src="assets/Common/facebook.png" alt="">
        <img #socialLogos src="assets/Common/youtube.png" alt="">
        <img #socialLogos src="assets/Common/whatsapp.png" alt="">
        <img #socialLogos src="assets/Common/twitter.png" alt="">
      </div>
    </div>
    <div class="cont2">
      <div class="page-structure">
        <h3 #headings>Page Structure</h3>
        <ul>
          <li #pgStructureItems><a routerLink="/home"
            routerLinkActive="active"
            ariaCurrentWhenActive="page">Home</a></li>
          <li #pgStructureItems><a routerLink="/about"
            routerLinkActive="active"
            ariaCurrentWhenActive="page">About Us</a></li>
          <li #pgStructureItems><a routerLink="/contact"
            routerLinkActive="active"
            ariaCurrentWhenActive="page">Solutions</a></li>
          <li #pgStructureItems><a routerLink="/contact"
            routerLinkActive="active"
            ariaCurrentWhenActive="page">Clients</a></li>
          <li #pgStructureItems><a routerLink="/total-systems"
            routerLinkActive="active"
            ariaCurrentWhenActive="page">Systems</a></li>
          <li #pgStructureItems><a routerLink="/contact"
            routerLinkActive="active"
            ariaCurrentWhenActive="page">Contact Us</a></li>
        </ul>
      </div>
      <div class="others">
        <div class="office-address">
          <h3 #headings>Office Address</h3>
          <p #address>RH-15, SAI ANGAN SOCIETY,</p>
          <p #address>WADMUKHWADI, MOSHI, PUNE - 412105</p>
        </div>
        <div class="write-to-us">
          <h3 #headings>Write to us</h3>
          <p #mail><a href="">info&#64;nfpaindia.com</a></p>
        </div>
      </div>
    </div>
  </footer>
  <div #developer class="developedWithLove">
    <p>
      © 2024 COPYRIGHTS. DEVELOPED WITH <3 BY SWARAJ, PRATHAMESH, AMRUTA, RUDRAKSHA, OMKAR 
    </p>
  </div>
</div>