<div class="footer">
  <footer #footer>
    <div class="cont1">
      <div class="name">
        <div class="nfpa-logo">
          <img #logo src="assets/Common/logo.png" alt="">
        </div>
        <div class="nfpa-content">
          <h3 #logo>Safety सारथी</h3>
          <!-- <h4 #logo>Safety सारथी</h4> -->
        </div>
      </div>
      <div class="about">
        <!-- <h6 #aboutText>Formerly known as,</h6> -->
        <p #aboutText>GOVT. APPROVED "CLASS-A" LICENSED AGENCY</p>
      </div>
      <div class="logos">
        <a href="https://www.instagram.com/safety_saarthi/" target="_blank">
          <img #socialLogos src="assets/Common/instagram.png" alt="Instagram">
        </a>
        <a href="https://www.facebook.com/NationalFireProtectionArmourNFPA?mibextid=ZbWKwL" target="_blank">
          <img #socialLogos src="assets/Common/facebook.png" alt="Facebook">
        </a>
        <a href="https://www.youtube.com/channel/UCUfV3rgL2h5He1S7VyzrxyA" target="_blank">
          <img #socialLogos src="assets/Common/youtube.png" alt="">
        </a>
        <a href="https://wa.me/8484060560" target="_blank">
          <img #socialLogos src="assets/Common/whatsapp.png" alt="whatsapp">
        </a>
        <a href="https://www.linkedin.com/company/safetysaarthi/" target="_blank">
            <img #socialLogos src="assets/Common/linkedin.png" alt="Linkedin">        
        </a>
      </div>
    </div>
    <div class="cont2">
      <div class="page-structure">
        <h3 #headings>Page Structure</h3>
        <ul>
          <li #pgStructureItems><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a></li>
          <li #pgStructureItems><a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a></li>
          <li #pgStructureItems><a routerLink="/total-systems" routerLinkActive="active" ariaCurrentWhenActive="page">Systems</a></li>
          <li #pgStructureItems><a routerLink="/catalogue" routerLinkActive="active" ariaCurrentWhenActive="page">Catalogue</a></li>
          <li #pgStructureItems><a routerLink="/total-solutions" routerLinkActive="active" ariaCurrentWhenActive="page">Solutions</a></li>
          <li #pgStructureItems><a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</a></li>
        </ul>
      </div>
      <div class="others">
        <div class="office-address">
          <h3 #headings>Office Address</h3>
          <p #address>Gat No. 447, Plot: E-20-30, Maitri Park,</p>
          <p #address>Near Jai Ganesh Samrajya Chowk, MOSHI, PUNE-412105</p>
        </div>
        <div class="write-to-us">
          <h3 #headings>Write to us</h3>
          <p #mail><a href="mailto:connect@safetysaarthi.com">connect&#64;safetysaarthi.com</a></p>
        </div>
      </div>
    </div>
  </footer>
  <div #developer class="developedWithLove">
    <p>
      © 2024 NFPA INDIA PVT. LTD. All rights reserved
    </p>
    <p class="non-affiliated">
      Our organization is not affiliated, connected or associated with the National Fire Protection Association.
    </p>
  </div>
</div>