<div #mainHeadingTrigger class="systems-redirect-main-container">
    <div #bgImage class="systems-redirect-container">
        <div class="gradient"></div>
        <div #mainHeading class="systems-redirect-heading">
            Fire <span class="class1">S</span>uppression Systems
        </div>
    </div>
    
    <div #bodyContainerTrigger class="systems-redirect-body-container">
        <div #pattern class="systems-redirect-bg-pattern"></div>
        <div class="systems-redirect-first-content">
            <p #mainSubTitle class="systems-redirect-subtext1">Innovative Protection, Unmatched Performance</p>
            <hr #mainSubTitle class="systems-redirect-subtext1-hr">
            <p #mainSubTitle class="systems-redirect-subtext2">Explore Our Fire Suppression Solutions</p>
        </div>
        <div #pattern class="systems-redirect-bg-pattern"></div>
    </div>

    <div #titleContainer1 class="systems-redirect-type1-title">
        <h2 #title01 class="systems-redirect-type1-heading">01</h2>
        <marquee #marquee1 behavior="slide" width="90%" direction="left" height="100px" loop="1" class="systems-redirect-marquee-text" scrollamount="12">
            <span class="systems-redirect-marquee-subtext1">INERT GAS FIRE</span> <span class="systems-redirect-marquee-subtext2"> SUPPRESSION SYSTEM</span>
        </marquee>
        <hr #title01 class="systems-redirect-type1-hr">
    </div>

    <div #swiperContainer1 class="wet-chemical-suppression-systems-container">
        <div class="wet-chemical-suppression-systems">

            <div class="gallery-container">
                <div class="swiper-container mySwiper system-swiper" #mainSwiper>
                    <div class="swiper-wrapper">
                        <div #mainSlide1 class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/inertgas.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/inert-carousel1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/co2-carousel2.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/co2-carousel4.webp" />
                        </div>
                    </div>
                </div>
            
                <div #thumbsSlide1 class="swiper-container mySwiper2 system-swiper2" #thumbsSwiper>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/inertgas.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/inert-carousel1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/co2-carousel2.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/co2-carousel4.webp" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

    <div #descriptionContainer class="wet-chemical-systems-description-container">
        <div class="wet-chemical-systems-product-description">
            <div class="wet-chemical-systems-product-description-heading">Product Description</div>
            <p class="wet-chemical-systems-product-description-para">Inert gas fire suppression systems use gases such as argon, nitrogen, or a blend of these gases to extinguish fires. These systems work by reducing the oxygen concentration in the protected area to a level that will not support combustion. Inert gas systems are safe for use in occupied areas and leave no residue, making them ideal for protecting sensitive environments like data centers, museums, and laboratories.</p>
        </div>
        <div class="wet-chemical-systems-components-main-container">
            <div class="wet-chemical-systems-components">
                <div class="wet-chemical-systems-component-heading">System Components</div>
                <div class="wet-chemical-systems-components-container">
                    <div class="wet-chemical-systems-component-image-1 right">
                        <img src="assets/products/redirects/inert-comp1.webp" alt="">
                        <p>Check Valve</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="assets/products/redirects/inert-comp2.webp" alt="">
                        <p>Pressure Gauge</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1 left">
                        <img src="assets/products/redirects/inert-comp3.webp" alt="">
                        <p>Cylinder Valve</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="assets/products/redirects/inert-comp4.webp" alt="">
                        <p>Pressure Reducing Device</p>
                    </div>
                </div>
            </div>
            <div class="wet-chemical-systems-buttons">
                <button class="add-to-cart-button" (click)="addProductToCart('Inert gas fire suppression system')">
                    <img src="assets/products/redirects/add-to-cart-btnimg.png" alt="">
                    <span class="button-text">Add To Cart For Enquiry</span></button>
            </div>
        </div>
        <div class="download-product-brochure">
            <a class="download-product-brochure-button" href="assets/products/redirects/Inert-Gas-Fire-Extinguishing-System-2.pdf" download="Inert-Gas-Fire-Extinguishing-System-2.pdf">
                <img src="assets/products/redirects/pdf_logo.png" alt="">
                Download Product Brochure
            </a>
        </div>
    </div>

    <div #titleContainer2  class="systems-redirect-type1-title">
        <h2 #title02 class="systems-redirect-type1-heading">02</h2>
        <marquee #marquee2 behavior="slide" width="100%" direction="left" height="100px" loop="1" class="systems-redirect-marquee-text2 new-class1" scrollamount="12">
            <span class="systems-redirect-marquee-subtext1 new-class">ELECTRIC PANEL</span> <span class="systems-redirect-marquee-subtext2 new-class2"> SUPPRESSION SYSTEM</span>
        </marquee>
        <hr #title02 class="systems-redirect-type1-hr">
    </div>

    <div #swiperContainer2 class="wet-chemical-suppression-systems-container">
        <div class="wet-chemical-suppression-systems">

            <div class="gallery-container">
                <div class="swiper-container mySwiper system-swiper" #mainSwiper2>
                    <div class="swiper-wrapper">
                        <div #mainSlide2 class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/electric-carousel-1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/electric-carousel-2.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/electric-carousel-5.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/electric-carousel-4.webp" />
                        </div>
                    </div>
                </div>
            
                <div #thumbsSlide2 class="swiper-container mySwiper2 system-swiper2" #thumbsSwiper2>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/electric-carousel-1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/electric-carousel-2.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/electric-carousel-5.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/electric-carousel-4.webp" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div #descriptionContainer2 class="wet-chemical-systems-description-container">
        <div class="wet-chemical-systems-product-description">
            <div class="wet-chemical-systems-product-description-heading">Product Description</div>
            <p class="wet-chemical-systems-product-description-para">Electric panel fire suppression systems are designed to protect electrical enclosures and panels from fire hazards. These systems use a clean agent or CO2 to suppress fires without damaging sensitive electronic equipment. The suppression agent is typically stored in cylinders and released upon detection of a fire, ensuring minimal downtime and preventing significant damage to critical electrical systems.</p>
        </div>
        <div class="wet-chemical-systems-components-main-container">
            <div class="wet-chemical-systems-components">
                <div class="wet-chemical-systems-component-heading">System Components</div>
                <div class="wet-chemical-systems-components-container">
                    <div class="wet-chemical-systems-component-image-1 right">
                        <img src="assets/products/redirects/Cylinder.jpg" alt="">
                        <p>Cylinders</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="assets/products/redirects/controlPanel.webp" alt="">
                        <p>Control panel</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1 left">
                        <img src="assets/products/redirects/mainPanel_detection.webp" alt="">
                        <p>Main Panel</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="assets/products/redirects/Discharge-nozzles.png" alt="">
                        <p>Discharge nozzles</p>
                    </div>
                </div>
            </div>
            <div class="wet-chemical-systems-buttons">
                <button class="add-to-cart-button" (click)="addProductToCart('Electric panel fire suppression system')">
                    <img src="assets/products/redirects/add-to-cart-btnimg.png" alt="">
                    <span class="button-text">Add To Cart For Enquiry</span></button>
            </div>
        </div>

        <div class="download-product-brochure">
            <a class="download-product-brochure-button" href="assets/products/redirects/NFPA Brochure.pdf" download="NFPA Brochure.pdf">
                <img src="assets/products/redirects/pdf_logo.png" alt="">
                Download Product Brochure
            </a>
        </div>
    </div>


    <div #titleContainer3 class="systems-redirect-type1-title">
        <h2 #title03 class="systems-redirect-type1-heading">03</h2>
        <marquee #marquee3 behavior="slide" width="100%" direction="left" height="100px" loop="1" class="systems-redirect-marquee-text2" scrollamount="12">
            <span class="systems-redirect-marquee-subtext1">KITCHEN FIRE</span> <span class="systems-redirect-marquee-subtext2"> SUPPRESSION SYSTEM</span>
        </marquee>
        <hr #title03 class="systems-redirect-type1-hr">
    </div>

    <div #swiperContainer3 class="wet-chemical-suppression-systems-container">
        <div class="wet-chemical-suppression-systems">

            <div class="gallery-container">
                <div class="swiper-container mySwiper system-swiper" #mainSwiper3>
                    <div class="swiper-wrapper">
                        <div #mainSlide3 class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/img_gallery1.png" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/kitchen-carousel.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/kitchen-carousel1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/kitchen-carousel2.webp" />
                        </div>
                    </div>
                </div>
            
                <div #thumbsSlide3 class="swiper-container mySwiper2 system-swiper2" #thumbsSwiper3>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/img_gallery1.png" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/kitchen-carousel.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/kitchen-carousel1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/kitchen-carousel2.webp" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div #descriptionContainer3 class="wet-chemical-systems-description-container">
        <div class="wet-chemical-systems-product-description">
            <div class="wet-chemical-systems-product-description-heading">Product Description</div>
            <p class="wet-chemical-systems-product-description-para">Kitchen fire suppression systems are engineered to protect commercial kitchen environments from fires that involve cooking equipment, such as stoves, grills, and deep fryers. These systems use a wet chemical agent that is highly effective in extinguishing grease fires by forming a soapy layer over the burning oil, which cools the fire and prevents re-ignition. Kitchen fire suppression systems are crucial for ensuring safety in food service operations.</p>
        </div>
        <div class="wet-chemical-systems-components-main-container">
            <div class="wet-chemical-systems-components">
                <div class="wet-chemical-systems-component-heading">System Components</div>
                <div class="wet-chemical-systems-components-container">
                    <div class="wet-chemical-systems-component-image-1 right">
                        <img src="assets/products/redirects/Pipes.jpg" alt="">
                        <p>Pipes</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="assets/products/redirects/Wet chemical agent tank.jpg" alt="">
                        <p>Wet chemical agent tank</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1 left">
                        <img src="assets/products/redirects/controlPanel.webp" alt="">
                        <p>Control Panel</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="assets/products/redirects/Discharge-nozzles.png" alt="">
                        <p>Nozzles</p>
                    </div>
                </div>
            </div>
            <div class="wet-chemical-systems-buttons">
                <button class="add-to-cart-button" (click)="addProductToCart('Kitchen fire suppression system')">
                    <img src="assets/products/redirects/add-to-cart-btnimg.png" alt="">
                    <span class="button-text">Add To Cart For Enquiry</span></button>
            </div>
        </div>

        <div class="download-product-brochure">
            <a class="download-product-brochure-button" href="assets/products/redirects/Kitchen-Fire-Extinguishing-System.pdf" download="Kitchen-Fire-Extinguishing-System.pdf">
                <img src="assets/products/redirects/pdf_logo.png" alt="">
                Download Product Brochure
            </a>
        </div>
    </div>

    <div #titleContainer4 class="systems-redirect-type1-title">
        <h2 #title04 class="systems-redirect-type1-heading">04</h2>
        <marquee #marquee4 behavior="slide" width="100%" direction="left" loop="1" height="100px" class="systems-redirect-marquee-text2" scrollamount="12">
            <span class="systems-redirect-marquee-subtext1">CLEAN AGENT FIRE</span> <span class="systems-redirect-marquee-subtext2"> SUPPRESSION SYSTEM</span>
        </marquee>
        <hr #title04 class="systems-redirect-type1-hr">
    </div>

    <div #swiperContainer4 class="wet-chemical-suppression-systems-container">
        <div class="wet-chemical-suppression-systems">

            <div class="gallery-container">
                <div class="swiper-container mySwiper system-swiper" #mainSwiper4>
                    <div class="swiper-wrapper">
                        <div #mainSlide4 class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/clean-carousel1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/co2-carousel4.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/co2-carousel3.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/sprinkler-carousel4.webp" />
                        </div>
                    </div>
                </div>
            
                <div #thumbsSlide4 class="swiper-container mySwiper2 system-swiper2" #thumbsSwiper4>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/clean-carousel1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/co2-carousel4.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/co2-carousel3.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/sprinkler-carousel4.webp" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div #descriptionContainer4 class="wet-chemical-systems-description-container">
        <div class="wet-chemical-systems-product-description">
            <div class="wet-chemical-systems-product-description-heading">Product Description</div>
            <p class="wet-chemical-systems-product-description-para">Clean agent fire suppression systems are designed to protect sensitive equipment and areas where water or dry chemical agents could cause damage. These systems use gases like FM-200, NOVEC 1230, or inert gases that extinguish fires without leaving residue. Clean agents work by removing heat or interrupting the chemical reaction of the fire, making them ideal for data centers, archives, and telecommunication facilities.</p>
        </div>
        <div class="wet-chemical-systems-components-main-container">
            <div class="wet-chemical-systems-components">
                <div class="wet-chemical-systems-component-heading">System Components</div>
                <div class="wet-chemical-systems-components-container">
                    <div class="wet-chemical-systems-component-image-1 right">
                        <img src="assets/products/redirects/Cylinder.jpg" alt="">
                        <p>Agent cylinders</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="assets/products/redirects/clean-comp1.webp" alt="">
                        <p>Cylinder Valve</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1 left">
                        <img src="assets/products/redirects/clean-comp2.webp" alt="">
                        <p>Non Return Valve</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="assets/products/redirects/clean-comp3.webp" alt="">
                        <p>Discharge Hoze</p>
                    </div>
                </div>
            </div>
            <div class="wet-chemical-systems-buttons">
                <button class="add-to-cart-button" (click)="addProductToCart('Clean agent fire suppression system')">
                    <img src="assets/products/redirects/add-to-cart-btnimg.png" alt="">
                    <span class="button-text">Add To Cart For Enquiry</span></button>
            </div>
        </div>

        <div class="download-product-brochure">
            <a class="download-product-brochure-button" href="assets/products/redirects/NFPA Brochure.pdf" download="NFPA Brochure.pdf">
                <img src="assets/products/redirects/pdf_logo.png" alt="">
                Download Product Brochure
            </a>
        </div>
    </div>

    <div #titleContainer5 class="systems-redirect-type1-title">
        <h2 #title05 class="systems-redirect-type1-heading">05</h2>
        <marquee #marquee5 behavior="slide" width="100%" direction="left" loop="1" height="100px" class="systems-redirect-marquee-text2" scrollamount="12">
            <span class="systems-redirect-marquee-subtext1">CO2 FIRE</span> <span class="systems-redirect-marquee-subtext2"> SUPPRESSION SYSTEM</span>
        </marquee>
        <hr #title05 class="systems-redirect-type1-hr">
    </div>

    <div #swiperContainer5 class="wet-chemical-suppression-systems-container">
        <div class="wet-chemical-suppression-systems">

            <div class="gallery-container">
                <div class="swiper-container mySwiper system-swiper" #mainSwiper5>
                    <div class="swiper-wrapper">
                        <div #mainSlide5 class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/co2-carousel1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/co2-carousel2.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/co2-carousel3.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/co2-carousel4.webp" />
                        </div>
                    </div>
                </div>
            
                <div #thumbsSlide5 class="swiper-container mySwiper2 system-swiper2" #thumbsSwiper5>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/co2-carousel1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/co2-carousel2.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/co2-carousel3.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/co2-carousel4.webp" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div #descriptionContainer5 class="wet-chemical-systems-description-container">
        <div class="wet-chemical-systems-product-description">
            <div class="wet-chemical-systems-product-description-heading">Product Description</div>
            <p class="wet-chemical-systems-product-description-para">CO2 fire suppression systems use carbon dioxide gas to extinguish fires by displacing oxygen in the protected area, effectively suffocating the fire. These systems are ideal for areas with sensitive equipment or flammable liquids, such as industrial machinery, electrical cabinets, and marine vessels. CO2 systems are highly effective and leave no residue, making them suitable for environments where cleanliness is crucial.</p>
        </div>
        <div class="wet-chemical-systems-components-main-container">
            <div class="wet-chemical-systems-components">
                <div class="wet-chemical-systems-component-heading">System Components</div>
                <div class="wet-chemical-systems-components-container">
                    <div class="wet-chemical-systems-component-image-1 right">
                        <img src="assets/products/redirects/co2-comp1.webp" alt="">
                        <p>Direction Valve</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="assets/products/redirects/co2-comp2.webp" alt="">
                        <p>CO2 Discharge Nozzle Open Type</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1 left">
                        <img src="assets/products/redirects/co2-comp3.webp" alt="">
                        <p>CO2 Discharge Nozzle Reset Type</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="assets/products/redirects/co2-comp4.webp" alt="">
                        <p>Pressure Switch</p>
                    </div>
                </div>
            </div>
            <div class="wet-chemical-systems-buttons">
                <button class="add-to-cart-button" (click)="addProductToCart('CO2 fire suppression system')">
                    <img src="assets/products/redirects/add-to-cart-btnimg.png" alt="">
                    <span class="button-text">Add To Cart For Enquiry</span></button>
            </div>
        </div>

        <div class="download-product-brochure">
            <a class="download-product-brochure-button" href="assets/products/redirects/CO2-Fire-Extinguishing-System.pdf" download="CO2-Fire-Extinguishing-System.pdf">
                <img src="assets/products/redirects/pdf_logo.png" alt="">
                Download Product Brochure
            </a>
        </div>
    </div>
</div>

<!-- ../../assets/Fire => assets -->
