<div #mainHeadingTrigger class="systems-redirect-main-container">
    <div #bgImage class="systems-redirect-container">
        <div class="gradient"></div>
        <div #mainHeading class="systems-redirect-heading">
            Fire <span class="class1">S</span>prinkler Systems
        </div>
    </div>
    
    <div #bodyContainerTrigger class="systems-redirect-body-container">
        <div #pattern class="systems-redirect-bg-pattern">
        </div>
        <div class="systems-redirect-first-content">
            <p #mainSubTitle class="systems-redirect-subtext1">Innovative Protection, Unmatched Performance</p>
            <hr #mainSubTitle class="systems-redirect-subtext1-hr">
            <p #mainSubTitle class="systems-redirect-subtext2">Explore Our Fire Suppression Solutions</p>
        </div>
        <div #pattern class="systems-redirect-bg-pattern">
        </div>
    </div>

    <div #titleContainer1 class="systems-redirect-type1-title">
        <h2 #title01 class="systems-redirect-type1-heading">01</h2>
        <marquee #marquee1 behavior="slide" width="100%" direction="left" loop="1" height="100px" class="systems-redirect-marquee-text" scrollamount="12">
            <span class="systems-redirect-marquee-subtext1">FIRE</span> <span class="systems-redirect-marquee-subtext2"> SPRINKLER SYSTEM</span>
        </marquee>
        <hr #title01 class="systems-redirect-type1-hr">
    </div>

    <div #swiperContainer1 class="wet-chemical-suppression-systems-container">
        <div class="wet-chemical-suppression-systems">

            <div class="gallery-container">
                <div class="swiper-container mySwiper" #mainSwiper>
                    <div class="swiper-wrapper">
                        <div #mainSlide1 class="swiper-slide">
                            <img src="assets/products/redirects/sprinkler1.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/products/redirects/sprinkler-carousel2.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/products/redirects/sprinkler2.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/products/redirects/sprinkler3.webp" />
                        </div>
                    </div>
                </div>
            
                <div #thumbsSlide1 class="swiper-container mySwiper2" #thumbsSwiper>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="assets/products/redirects/sprinkler1.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/products/redirects/sprinkler-carousel2.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/products/redirects/sprinkler2.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/products/redirects/sprinkler3.webp" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div #descriptionContainer class="wet-chemical-systems-description-container">
        <div class="wet-chemical-systems-product-description">
            <div class="wet-chemical-systems-product-description-heading">Product Description</div>
            <p class="wet-chemical-systems-product-description-para">Fire sprinkler systems are automatic fire protection systems designed to detect and extinguish fires in their early stages, minimizing damage and enhancing safety. These systems consist of a network of pipes installed throughout a building, connected to a reliable water supply. Fire sprinklers are strategically placed at regular intervals within the ceiling or walls and are equipped with heat-sensitive elements, such as glass bulbs or fusible links, that activate in response to high temperatures caused by a fire. Once activated, the sprinkler head releases water directly over the fire, effectively controlling or extinguishing it. Fire sprinkler systems are essential in various environments, including residential, commercial, and industrial buildings, providing continuous protection and reducing the risk of severe fire damage and loss of life.
            </p>
        </div>
        <div class="wet-chemical-systems-components-main-container">
            <div class="wet-chemical-systems-components">
                <div class="wet-chemical-systems-component-heading">System Components</div>
                <div class="wet-chemical-systems-components-container">
                    <div class="wet-chemical-systems-component-image-1 right">
                        <img src="/assets/products/redirects/Pipes.jpg" alt="">
                        <p>Pipes</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="/assets/products/redirects/Sprinkler-heads.jpg" alt="">
                        <p>Sprinkler heads</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1 left">
                        <img src="/assets/products/redirects/Control-valves.jpg" alt="">
                        <p>Control valves</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="/assets/products/redirects/sprinkler-comp4.webp" alt="">
                        <p>Alarm Valve</p>
                    </div>
                </div>
            </div>
            <div class="wet-chemical-systems-buttons">
                <button class="add-to-cart-button" (click)="addProductToCart('Fire sprinkler systems')">
                    <img src="assets/products/redirects/add-to-cart-btnimg.png" alt="">
                    Add To Cart For Enquiry</button>
            </div>
        </div>

        <div class="download-product-brochure">
            <a class="download-product-brochure-button" href="assets/products/redirects/NFPA Brochure.pdf" download="NFPA Brochure.pdf">
                <img src="assets/products/redirects/pdf_logo.png" alt="">
                Download Product Brochure
            </a>
        </div>
    </div>
</div>
