.vision{
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    padding: 40px 0;
    max-width: 1700px;
    max-height: 700px;
    min-height: 600px;
}

.vision-container {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 97.5%;
    width: 93.5%;
    padding: 0; 
    margin: 0;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    box-shadow: rgba(111, 113, 116, 0.4) 0px 0px 0px 2px, rgba(135, 136, 136, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.vision-container img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.vision-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #0000004d, #0000004d, #0000004d,  #0000004d, #000);
    pointer-events: none; 
    border-radius: 20px;
}

.vision-content {
    width: 600px; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 3.5%;
    margin-left: 50px;
}

.vision-content .vision-text h3 {
    color: #C1121F;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

.vision-content .vision-text h2 {
    margin-bottom: 5px;
    font-family: "Inter", sans-serif;
    font-size: 30px;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: #FFFFFF;
}

.vision-content .vision-text p {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: #FFF;
    line-height: 30px;
    text-align: justify;
}

br{
    display: none;
}

@media screen and (max-width: 1440px){
    .vision{
        min-height: 550px;
        max-height: 600px;
    }
}

@media screen and (max-width: 1220px){
    .vision-content {
        width: 500px;
    }
}

@media screen and (max-width: 1024px) {

    .vision{
        height: 90vh;
    }

    .vision-container {
        height: 100%;
        padding: 25px 0;
        margin: 40px;
    }

    .vision-container img{
        height: 112%;
    }

    .vision-content {
        width: 450px;
        left: 0;
        position: absolute;
        padding: 0 20px;
    }

    .vision-content .vision-text h3 {
        font-size: 18px;
    }

    .vision-content .vision-text h2 {
        font-size: 24px;
    }

    .vision-content .vision-text p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 900px){
    .vision-content {
        width: 400px;
    }
}

@media screen and (max-width: 768px) {

    .vision {
        height: 75vh;
        padding: 0;
        min-height: 500px;
        max-height: 500px;
    }

    .vision-container {
        height: 100%;
    }

    .vision-container img{
        height: 115%;
        object-position: 40%;
    }

    .vision-content {
        width: 350px;
        left: -10px;
        position: absolute;
        padding: 0 20px;
    }

    .vision-content .vision-text h3 {
        font-size: 16px;
    }

    .vision-content .vision-text h2 {
        font-size: 20px;
    }

    .vision-content .vision-text p {
        font-size: 14px;
    }
}


@media screen and (max-width: 576px) {

    .vision{
        min-height: 200px;
        max-height: 700px;
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        border-radius: 20px;
        margin: 20px;
        padding: 0;
        background-color: whitesmoke;
        box-shadow: rgba(111, 113, 116, 0.4) 0px 0px 0px 2px, rgba(135, 136, 136, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    }

    .vision-container {
        background-color: none;
        height: auto;
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        box-shadow: none;
        border-radius: 20px 20px 0 0;
        position: relative;
    }

    .vision-container img{
        display: block;
        width: 100%;
        height: 210px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }

    .vision-container::after {
        background: none;
        border-radius: 20px 20px 0 0;
    }

    .vision-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        position: relative;
        left: 0;
        top: 0;
        margin: 0;
        transform: translateY(0%);
    }
    
    .vision-content .vision-text {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 35px;
        padding-bottom: 20px;
    }
    
    .vision-content .vision-text h3 {
        font-size: 18px;
        margin-bottom: 15px;
    }
    
    .vision-content .vision-text h2 {
        font-size: 24px;
        margin: 0;
        color: black;
        margin-bottom: 5px;
    }
    
    .vision-content .vision-text p {
        width: 100%;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 10px;
        color: rgba(0, 0, 0, 0.7);
    }
}

@media screen and (max-width: 426px) {

    .vision{
        height: auto;
    }

    .vision-container{
        height: 180px;
        top: 0;
        padding: 0;
    }

    .vision-container img{
        height: 180px;
    }

    .vision-content .vision-text {
        padding: 0 25px 30px 25px;
    }

    .vision-content .vision-text h3 {
        font-size: 16px;
        margin-bottom: 12px;
    }
    
    .vision-content .vision-text h2 {
        font-size: 22px;
        margin: 0;
        color: black;
        margin-bottom: 3px;
    }
    
    .vision-content .vision-text p {
        width: 100%;
        font-size: 13px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.7);
    }
}

@media screen and (max-width: 376px){

    .vision{
        height: auto;
    }

    .vision-container{
        height: 165px;
        top: 0;
        padding: 0;
    }

    .vision-container img{
        height: 165px;
    }

    .vision-content .vision-text {
        padding: 0 20px 15px 20px;
    }

    .vision-content .vision-text h3 {
        font-size: 14px;
    }

    .vision-content .vision-text h2 {
        font-size: 16px;
    }

    .vision-content .vision-text p {
        width: 100%;
        font-size: 10px;
        line-height: 18px;
    }
}

@media screen and (max-width: 320px){

    .vision{
        height: auto;
        padding: 0;
    }

    .vision-container{
        height: 140px;
        top: 0;
        padding: 0;
    }

    .vision-container img{
        height: 140px;
        padding: 0;
        margin: 0;
        position: relative;
        top: 0;
    }

    .vision-content .vision-text h3 {
        font-size: 12px;
    }

    .vision-content .vision-text h2 {
        font-size: 14px;
    }

    .vision-content .vision-text p {
        width: 100%;
        font-size: 8px;
        line-height: 16px;
    }
}