<div #container class="vision">
  <div #h3tag class="vision-container">
    <img src="assets/Home/vision.jpeg" alt="">
  </div>
  <div class="vision-content">
    <div class="vision-text">
      <h3 #h3tag>
        <span>O</span>
        <span>U</span>
        <span>R</span>
        <span>&nbsp;</span>
        <span>V</span>
        <span>I</span>
        <span>S</span>
        <span>I</span>
        <span>O</span>
        <span>N</span>
      </h3>
      <br>
      <h2 #h3tag>Installing High-Tech fire technology for enhanced safety</h2>
      <p #h3tag>
        To be the leading provider of fire protection and safety solutions across India and beyond, 
        renowned for our unwavering commitment to quality, innovation, and customer satisfaction. We 
        envision a future where every building and public space is equipped with state-of-the-art fire 
        safety systems, significantly reducing the risk of fire-related incidents. By expanding our reach, 
        enhancing our services, and fostering a culture of safety awareness, we aim to set new benchmarks 
        in the fire protection industry.
      </p>
    </div>
  </div>
</div>