<div #container class="vision">
  <div #h3tag class="vision-container">
    <img src="assets/Home/vision.webp" alt="">
  </div>
  <div class="vision-content">
    <div class="vision-text">
      <h3 #h3tag>
        <span>O</span>
        <span>U</span>
        <span>R</span>
        <span>&nbsp;</span>
        <span>V</span>
        <span>I</span>
        <span>S</span>
        <span>I</span>
        <span>O</span>
        <span>N</span>
      </h3>
      <br>
      <h2 #h3tag>Installing High-Tech fire technology for enhanced safety</h2>
      <p #h3tag>
        To lead in fire protection and safety solutions, delivering innovation, quality, and customer satisfaction. We aim to ensure every space is equipped with advanced fire safety systems. By expanding our reach and enhancing services, we foster a culture of safety awareness. We set new benchmarks in the fire protection industry.
      </p>
    </div>
  </div>
</div>