<div class="main-container">
    <div class="content">
        <h3 #h3tag class="title">WHY CHOOSE US ?</h3>
        <h2 #h3tag class="subtitle">At NFPA India Private Limited, we prioritize your safety and peace of mind.</h2>
        <p class="description">
            <span class="bold">1. Experienced Team:</span> 
            Our team comprises highly skilled professionals with extensive experience in fire safety, ensuring you receive top-notch protection.
            <span class="br-wrapper"><br></span>
            <span class="bold">2. Comprehensive Services:</span> 
            From design to installation and maintenance, we cater to all your fire safety needs. We also offer annual maintenance contracts, repair services, and in-depth training programs.
            <span class="br-wrapper"><br></span>
            <span class="bold">3. Government Accreditation:</span> 
            As a Class “A” licensed agency by Maharashtra Fire Services, we comply with all regulatory standards, offering you peace of mind and assurance.
            <span class="br-wrapper"><br></span>
            <span class="bold">4. Advanced Technology:</span> 
            We leverage the latest technology to provide innovative and reliable fire safety solutions tailored to your specific requirements.
            <span class="br-wrapper"><br></span>
            <span class="bold">5. Customer-Centric Approach:</span> 
            Your satisfaction is our top priority. We deliver personalized solutions and exceptional service to ensure your safety and security.
            <span class="br-wrapper"><br></span>
            <span class="bold">6. Extensive Reach:</span> 
            Beyond our presence in Pune and Mumbai, we have plans for expansion across India and internationally, ensuring we are always within your reach.
            <span class="br-wrapper"><br></span>
            <span class="bold">7. Unwavering Commitment to Safety:</span> 
            Safety is at the core of our operations. Our team undergoes continuous training to stay abreast of the latest safety standards.
            <span class="br-wrapper"><br></span>
            <span class="bold">8. Technical Expertise:</span> 
            As a knowledge-driven organization, we possess comprehensive technical know-how of all fire fighting systems, positioning us as leaders in the field.
            <span class="br-wrapper"><br></span>
            <span class="bold">9. Up-to-Date Compliance:</span> 
            We constantly update our knowledge on IS, NBC, and NFPA standards for fire fighting, as well as any other applicable regulations. This ensures our clients remain compliant with the latest norms, avoiding any legal or compliance issues.
        </p>
        
        
    </div>
    <div #pic class="img-container">
        <img src="{{whyUs}}" alt="">
    </div>
</div>