.whyUsContainer{
    width: 99%;
    height: auto;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px 0;
    border-radius: 20px;
    max-width: 1700px;
    overflow: hidden;
}

.whyUsContent{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 0 25px 0 50px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    color: white;
}

.whyUsContent h3{
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: #C1121F;
    text-align: left;
    margin-bottom: 15px;
}

.br-wrapper {
    display: block;
    height: 20px;
}

.line-height{
    margin: 50px 0;
}

.bold{
    font-weight: 700;
    color: white;
}

.whyUsContent h2{
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 28px;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: #FFFFFF;
    margin-bottom: 5px;
    text-align: left;
}

.whyUsContent .description{
    width: 100%;
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 450;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: #9d9d9d;
    line-height: 24px;
    text-align: justify;
}

.whyUsContent .description .desc{
    margin: 0;
    padding: 0;
}

.img-container{
    width: 40%;
    height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 70px;
}

.img-container .whyUsImage{
    display: block;
    width: 70%;
    height: 30%;
    object-fit: cover;
    border-radius: 20px;
}

.img-container .ISOimage{
    display: block;
    width: 80%;
    height: 40%;
    width: 290px;
    height: 410px;
    object-fit: cover;
    border: 1px solid white;
    padding: 7px;
}

@media screen and (max-width: 1440px){

}

@media screen and (max-width: 1024px){
    .whyUsContainer{
        height: auto;
    }

    .whyUsContent{
        padding: 0 20px 0 40px;
    }

    .whyUsContent h3{
        font-size: 22px;
    }

    .br-wrapper {
        height: 16px;
    }

    .whyUsContent h2{
        font-size: 22px;
    }

    .whyUsContent .description{
        font-size: 14px;
        line-height: 22px;
    }

    .img-container{
        width: 50%;
    }

    .img-container img{
        width: 90%;
        height: 90%;
    }

    .img-container .ISOimage{
        width: 250px;
        height: 350px;
    }

}

@media screen and (max-width: 768px){

    .whyUsContent{
        padding: 0 16px 0 32px;
    }

    .br-wrapper {
        height: 12px;
    }

    .whyUsContent h3{
        font-size: 18px;
    }

    .whyUsContent h2{
        font-size: 18px;
    }

    .whyUsContent .description{
        font-size: 12px;
        line-height: 20px;
    }

    .img-container{
        width: 50%;
    }

    .img-container img{
        width: 90%;
        height: 90%;
    }

    .img-container .ISOimage{
        width: 220px;
        height: 310px;
    }
}

@media screen and (max-width: 576px){
    .whyUsContainer{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        height: auto;
        margin: 50px 0;
        border-radius: 0;
        box-shadow: none;
        position: relative;
    }

    .whyUsContent{
        width: 90%;
        height: auto;
        padding: 0 25px;
        margin: 0;
        border-radius: 0;
        text-align: center;
        background-color: #fff;
        margin-top: 110px;
        padding-top: 110px;
        padding-bottom: 25px;
    }

    .whyUsContent h3{
        width: 100%;
        text-align: center;
        padding-bottom: 15px;
        border-bottom: 1px solid #1d1d1d;
    }

    .whyUsContent h2{
        width: 100%;
        color: black;
        text-align: center;
    }

    .bold{
        color: black;
    }

    .br-wrapper {
        height: 10px;
    }

    .whyUsContent .description{
        width: 100%;
        color: black;
    }

    .img-container{
        background: none;
        width: 90%;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        box-shadow: none;
        border-radius: 20px;
        position: absolute;
        top: 0;
        left: 5%;
        z-index: 1;
        gap: 0;
    }

    .img-container img{
        width: 80%;
        height: 70%;
        border-radius: 20px;
    }

    .img-container .ISOimage{
        display: none;
    }
}

@media screen and (max-width: 527px){
    .whyUsContent{
        margin-top: 100px;
        padding-top: 100px;
    }
}

@media screen and (max-width: 487px){
    .whyUsContent{
        margin-top: 90px;
        padding-top: 90px;
    }
}

@media screen and (max-width: 457px){
    .whyUsContent{
        margin-top: 80px;
        padding-top: 80px;
    }
}

@media screen and (max-width: 426px){

    .whyUsContent{
        margin-top: 75px;
        padding-top: 75px;
    }

    .br-wrapper {
        height: 8px;
    }

    .whyUsContent h3{
        font-size: 16px;
    }

    .whyUsContent h2{
        font-size: 16px;
    }

    .whyUsContent .description{
        font-size: 10px;
        line-height: 18px;
    }
}

@media screen and (max-width: 395px){

    .whyUsContent{
        margin-top: 70px;
        padding-top: 70px;
    }
}

@media screen and (max-width: 376px){
    .whyUsContent{
        width: 86%;
        margin-top: 65px;
        padding-top: 65px;
    }
    .br-wrapper {
        height: 6px;
    }
}

@media screen and (max-width: 321px){
    .whyUsContent{
        margin-top: 55px;
        padding-top: 55px;
    }

    .br-wrapper {
        height: 4px;
    }

    .whyUsContent h3{
        font-size: 14px;
    }

    .whyUsContent h2{
        font-size: 14px;
    }

    .whyUsContent .description{
        font-size: 8px;
        line-height: 16px;
    }
}