<div class="products-container">
    <div class="title-container">
        <h2 #title>OUR PRODUCTS</h2>
        <p #title>Explore a Variety of our products</p>
    </div>
    <div class="overall-products">
        <div #mySwiper class="mySwiper swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide" #prods>
                    <a routerLink="/total-systems/Extinguishers" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <div class="product-card extinguisher">
                            <div class="image-wrapper">
                                <img src="assets/Home/Products/extinguisher.webp" alt="Product Image">
                            </div>
                            <div class="product-overlay"></div>
                            <div class="product-title">Fire Extinguisher</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" #prods>
                    <a routerLink="/total-systems/Sprinkler-System" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <div class="product-card sprinkler">
                            <div class="image-wrapper">
                                <img src="assets/Home/Products/sprinkler.webp" alt="Product Image">
                            </div>
                            <div class="product-overlay"></div>
                            <div class="product-title">Fire Sprinkler System</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" #prods>
                    <a routerLink="/total-systems/Detection-System" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <div class="product-card detection">
                            <div class="image-wrapper">
                                <img src="assets/Home/Products/detection.webp" alt="Product Image">
                            </div>
                            <div class="product-overlay"></div>
                            <div class="product-title">Fire Detection System</div>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide" #prods>
                    <a routerLink="/total-systems/Hydrant-System" routerLinkActive="active" ariaCurrentWhenActive="page">
                        <div class="product-card hydrant">
                            <div class="image-wrapper">
                                <img src="assets/Home/Products/hydrant.webp" alt="Product Image">
                            </div>
                            <div class="product-overlay"></div>
                            <div class="product-title">Fire Hydrant System</div>
                        </div>
                    </a>
                </div>
            </div>
            
            <div #buttons class="swiper-button-next"></div>
            <div #buttons class="swiper-button-prev"></div>
        </div>
    </div>
    <div #link class="all-products-link">
        <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">View All Products</a>
    </div>
</div>