<div #container class="ourTeamContainer">
    <div class="ourTeamTitleContainer">
        <h2 #title>Our Team</h2>
        <h3 #title>We harness the vigor of our youth to fortify your organization's safety</h3>
    </div>
    <div class="ourTeamGalleryContainer">

        <div class="ourTeamMainSwiperContainer swiper-container" #teamsSwiperSelector>
            
            <div class="ourTeamMainSwiperWrapper swiper-wrapper" #slide1>
                <div class="swiper-slide">
                    <img src="assets/AboutUs/team/team1.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/AboutUs/team/team2.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/AboutUs/team/team3.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/AboutUs/team/team4.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/AboutUs/team/team5.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/AboutUs/team/team6.webp" />
                </div>
            </div>

            <div #buttons class="swiper-button-prev"></div>
            <div #buttons class="swiper-button-next"></div>

        </div>

        <!-- <div class="ourTeamThumbsSwiperContainer swiper-container" #teamsThumbsSelector>
            
            <div class="swiper-wrapper ourTeamThumbsSwiperWrapper">
                <div class="swiper-slide" #slide2>
                    <img src="assets/AboutUs/team/team1.webp" />
                </div>
                <div class="swiper-slide" #slide2>
                    <img src="assets/AboutUs/team/team2.webp" />
                </div>
                <div class="swiper-slide" #slide2>
                    <img src="assets/AboutUs/team/team3.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/AboutUs/team/team4.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/AboutUs/team/team5.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/AboutUs/team/team6.webp" />
                </div>
            </div>
        </div> -->
    </div>
</div>
