<div #container class="container">
    <div class="title-container">
        <h2>Our Team</h2>
        <h3>We harness the vigor of our youth to fortify your organization's safety</h3>
    </div>
    <div class="gallery-container">

        <div class="mySwiper swiper-container" #swiper>
            
            <div class="swiper-wrapper" #slide1>
                <div class="swiper-slide">
                    <img src="assets/AboutUs/team/team1.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/AboutUs/team/team2.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/AboutUs/team/team3.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/AboutUs/team/team4.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/AboutUs/team/team5.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/AboutUs/team/team6.webp" />
                </div>
            </div>
        </div>

        <div class="mySwiper2 thumbs-container" #thumbs>
            
            <div class="swiper-wrapper thumbs-wrapper">
                <div class="swiper-slide" #slide2>
                    <img src="assets/AboutUs/team/team1.webp" />
                </div>
                <div class="swiper-slide" #slide2>
                    <img src="assets/AboutUs/team/team2.webp" />
                </div>
                <div class="swiper-slide" #slide2>
                    <img src="assets/AboutUs/team/team3.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/AboutUs/team/team4.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/AboutUs/team/team5.webp" />
                </div>
                <div class="swiper-slide">
                    <img src="assets/AboutUs/team/team6.webp" />
                </div>
            </div>
        </div>
    </div>
</div>
