<div #navbar class="navBar-container">
  <div class="normal">
    <div class="navBar-logo">
      <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
        <img #logo src="assets/Common/logo.png" alt="logo" class="logoImage" />
      </a>
      <h2 #logoText>Safety सारथी</h2>
    </div>
    <div class="navBar-menu">
      <div class="navBar-menu-item">
        <div #navBarMenuItem>
          <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </div>
      </div>
      <div class="navBar-menu-item">
        <div #navBarMenuItem>
          <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a>
        </div>
      </div>
      <div (mouseenter)="dropdownEnter()" 
          (mouseleave)="dropdownLeave()"
          class="navBar-menu-item dropdown">
        <div #navBarMenuItem>
          <a routerLink="/total-systems" routerLinkActive="active" ariaCurrentWhenActive="page">Systems</a>
        </div>
        <div #dropdown class="dropdown-content">
          <div class="dropdown-column">
            <h4 #dropdownHead>Systems</h4>
            <a #dropdownbody routerLink="/total-systems/Suppression-System" routerLinkActive="active" ariaCurrentWhenActive="page">Suppression Systems</a>
            <a #dropdownbody routerLink="/total-systems/Sprinkler-System" routerLinkActive="active" ariaCurrentWhenActive="page">Sprinkler System</a>
            <a #dropdownbody routerLink="/total-systems/Hydrant-System" routerLinkActive="active" ariaCurrentWhenActive="page">Hydrant System</a>
            <a #dropdownbody routerLink="/total-systems/Detection-System" routerLinkActive="active" ariaCurrentWhenActive="page">Detection Systems</a>
          </div>
          <div class="dropdown-column">
            <h4 #dropdownHead>Products</h4>
            <a (click)="dropdownLeave()" #dropdownbody routerLink="/total-systems/Extinguishers" routerLinkActive="active" ariaCurrentWhenActive="page">Fire Extinguishers</a>
            <a #dropdownbody routerLink="/total-systems/PA" routerLinkActive="active" ariaCurrentWhenActive="page">Public Address</a>
            <a #dropdownbody routerLink="/total-systems/Doors" routerLinkActive="active" ariaCurrentWhenActive="page">Fire Metal Doors</a>
            <a #dropdownbody routerLink="/total-systems/Signs" routerLinkActive="active" ariaCurrentWhenActive="page">Fire Signages</a>
          </div>
          <div class="dropdown-column">
            <h4 #dropdownHead>Services</h4>
            <a #dropdownbody routerLink="/total-systems/AMC" routerLinkActive="active" ariaCurrentWhenActive="page">AMC</a>
            <a #dropdownbody routerLink="/total-systems/Training" routerLinkActive="active" ariaCurrentWhenActive="page">Training</a>
            <a #dropdownbody routerLink="/total-systems/Repair" routerLinkActive="active" ariaCurrentWhenActive="page">One-Time-Repair</a>
            <a #dropdownbody routerLink="/total-systems/Audit" routerLinkActive="active" ariaCurrentWhenActive="page">Fire Audits</a>
            <a #dropdownbody routerLink="/total-systems/Refill" routerLinkActive="active" ariaCurrentWhenActive="page">Fire Extinguisher Refilling & HPT</a>
            <a #dropdownbody routerLink="/total-systems/Licensing" routerLinkActive="active" ariaCurrentWhenActive="page">Licensing & Documentation</a>
            <a #dropdownbody routerLink="/total-systems/consulting" routerLinkActive="active" ariaCurrentWhenActive="page">Consulting</a>
          </div>
        </div>
      </div>
      <div class="navBar-menu-item">
        <div #navBarMenuItem>
          <a routerLink="/catalogue" routerLinkActive="active" ariaCurrentWhenActive="page">Catalogue</a>
        </div>
     </div>
     <div class="navBar-menu-item">
      <div #navBarMenuItem>
        <a routerLink="/total-solutions" routerLinkActive="active" ariaCurrentWhenActive="page">Solutions</a>
      </div>
    </div>
    <div class="navBar-menu-item">
      <div #navBarMenuItem>
        <a href="https://safetyseries.buzaao.com/brand/safetysarthi" routerLinkActive="active" ariaCurrentWhenActive="page">Safety Series</a>
      </div>
    </div>
      <div class="navBar-menu-item">
        <div #navBarMenuItem>
          <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
  <div class="mobile">
    <div class="navBar-logo-mobile">
      <div class="navBar-logo">
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">
          <img #logo src="assets/Common/logo.png" alt="logo" class="logoImage" />
        </a>
        <h2 #logoText>Safety सारथी</h2>
      </div>
      <button class="menu-toggle" (click)="toggleMenu()">☰</button>
    </div>
    <div class="navBar-mobile-menu mobile-menu" [class.show]="menuOpen">
      <div (click)="toggleMenu()" #navBarMobileMenuItem class="navBar-menu-item">
        <a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
      </div>
      <div (click)="toggleMenu()" #navBarMobileMenuItem class="navBar-menu-item">
        <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About Us</a>
      </div>
      <div (click)="toggleMenu()" #navBarMobileMenuItem class="navBar-menu-item">
        <a routerLink="/total-systems" routerLinkActive="active" ariaCurrentWhenActive="page">Systems</a>
      </div>
      <div (click)="toggleMenu()" #navBarMobileMenuItem class="navBar-menu-item">
        <a routerLink="/catalogue" routerLinkActive="active" ariaCurrentWhenActive="page">Catalogue</a>
      </div>
      <div (click)="toggleMenu()" #navBarMobileMenuItem class="navBar-menu-item">
        <a routerLink="/total-solutions" routerLinkActive="active" ariaCurrentWhenActive="page">Solutions</a>
      </div>
      <div (click)="toggleMenu()" #navBarMobileMenuItem class="navBar-menu-item">
        <a href="https://safetyseries.buzaao.com/brand/safetysarthi" routerLinkActive="active" ariaCurrentWhenActive="page">Safety Series</a>
      </div>
      <div (click)="toggleMenu()" #navBarMobileMenuItem class="navBar-menu-item">
        <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact Us</a>
      </div>
    </div>
  </div>
</div>
