<div #mainHeadingTrigger class="systems-redirect-main-container">
    <div #bgImage class="systems-redirect-container">
        <div class="gradient"></div>
        <div #mainHeading class="systems-redirect-heading">
            Fire <span class="class1">D</span>etection Systems
        </div>
    </div>
    
    <div #bodyContainerTrigger class="systems-redirect-body-container">
        <div #pattern class="systems-redirect-bg-pattern"></div>
        <div class="systems-redirect-first-content">
            <p #mainSubTitle class="systems-redirect-subtext1">Innovative Protection, Unmatched Performance</p>
            <hr #mainSubTitle class="systems-redirect-subtext1-hr">
            <p #mainSubTitle class="systems-redirect-subtext2">Explore Our Fire Suppression Solutions</p>
        </div>
        <div #pattern class="systems-redirect-bg-pattern"></div>
    </div>

    <div #titleContainer1 class="systems-redirect-type1-title">
        <h2 #title01 class="systems-redirect-type1-heading">01</h2>
        <marquee #marquee1 behavior="slide" loop="1" width="100%" direction="left" height="100px" class="systems-redirect-marquee-text" scrollamount="12">
            <span class="systems-redirect-marquee-subtext1">SMOKE</span> <span class="systems-redirect-marquee-subtext2"> DETECTORS</span>
        </marquee>
        <hr #title01 class="systems-redirect-type1-hr">
    </div>

    <div #swiperContainer1 class="wet-chemical-suppression-systems-container">
        <div class="wet-chemical-suppression-systems">

            <div class="gallery-container">
                <div class="swiper-container mySwiper system-swiper" #mainSwiper>
                    <div class="swiper-wrapper">
                        <div #mainSlide1 class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/smoke-carousel1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/smoke-carousel2.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/smoke-carousel3.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/smoke-carousel4.webp" />
                        </div>
                    </div>
                </div>
            
                <div #thumbsSlide1 class="swiper-container mySwiper2 system-swiper2" #thumbsSwiper>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/smoke-carousel1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/smoke-carousel2.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/smoke-carousel3.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/smoke-carousel4.webp" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div #descriptionContainer class="wet-chemical-systems-description-container">
        <div class="wet-chemical-systems-product-description">
            <div class="wet-chemical-systems-product-description-heading">Product Description</div>
            <p class="wet-chemical-systems-product-description-para">Smoke detectors are essential fire detection devices designed to identify the presence of smoke, a common indicator of fire. These detectors use either ionization or photoelectric technology to sense smoke particles in the air. When smoke is detected, the device triggers an alarm to alert occupants of a potential fire, allowing them to evacuate safely and take necessary actions to control the fire. Smoke detectors are widely used in residential, commercial, and industrial settings.
            </p>
        </div>
        <div class="wet-chemical-systems-components-main-container">
            <div class="wet-chemical-systems-components">
                <div class="wet-chemical-systems-component-heading">System Components</div>
                <div class="wet-chemical-systems-components-container">
                    <div class="wet-chemical-systems-component-image-1 right">
                        <img src="/assets/products/redirects/detection-comp1.webp" alt="">
                        <p>Main Panel</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="/assets/products/redirects/detection-comp2.webp" alt="">
                        <p>Hooter</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1 left">
                        <img src="/assets/products/redirects/detection-comp3.webp" alt="">
                        <p>Smoke/Heat Detector</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="/assets/products/redirects/detection-comp4.webp" alt="">
                        <p>Manual Call Point (MCP)</p>
                    </div>
                </div>
            </div>
            <div class="wet-chemical-systems-buttons">
                <button class="add-to-cart-button" (click)="addProductToCart($event, 'Smoke detector')">
                  <img src="assets/products/redirects/add-to-cart-btnimg.png" alt="">
                  Add To Cart For Enquiry
                </button>
            </div>
        </div>

        <div class="download-product-brochure">
            <a class="download-product-brochure-button" href="assets/products/redirects/NFPA Brochure.pdf" download="NFPA Brochure.pdf">
                <img src="assets/products/redirects/pdf_logo.png" alt="">
                Download Product Brochure
            </a>
        </div>
    </div>

    <div #titleContainer2 class="systems-redirect-type1-title">
        <h2 #title02 class="systems-redirect-type1-heading">02</h2>
        <marquee #marquee2 behavior="slide" loop="1" width="100%" direction="left" height="100px" class="systems-redirect-marquee-text2" scrollamount="12">
            <span class="systems-redirect-marquee-subtext1">TEMPERATURE</span> <span class="systems-redirect-marquee-subtext2"> DETECTORS</span>
        </marquee>
        <hr #title02 class="systems-redirect-type1-hr">
    </div>

    <div #swiperContainer2 class="wet-chemical-suppression-systems-container">
        <div class="wet-chemical-suppression-systems">

            <div class="gallery-container">
                <div class="swiper-container mySwiper system-swiper" #mainSwiper2>
                    <div class="swiper-wrapper">
                        <div #mainSlide2 class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/temp-carousel1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/temp-carousel2.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/smoke-carousel1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/smoke-carousel2.webp" />
                        </div>
                    </div>
                </div>
            
                <div #thumbsSlide2 class="swiper-container mySwiper2 system-swiper2" #thumbsSwiper2>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/temp-carousel1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/temp-carousel2.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/smoke-carousel1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/smoke-carousel2.webp" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div #descriptionContainer2 class="wet-chemical-systems-description-container">
        <div class="wet-chemical-systems-product-description">
            <div class="wet-chemical-systems-product-description-heading">Product Description</div>
            <p class="wet-chemical-systems-product-description-para">Temperature detectors, also known as heat detectors, are fire detection devices that respond to changes in ambient temperature. They are designed to activate an alarm when the temperature reaches a preset level or when there is a rapid rise in temperature. These detectors are particularly useful in environments where smoke detectors may produce false alarms, such as kitchens, garages, and dusty or smoky areas.</p>
        </div>
        <div class="wet-chemical-systems-components-main-container">
            <div class="wet-chemical-systems-components">
                <div class="wet-chemical-systems-component-heading">System Components</div>
                <div class="wet-chemical-systems-components-container">
                    <div class="wet-chemical-systems-component-image-1 right">
                        <img src="/assets/products/redirects/detection-comp1.webp" alt="">
                        <p>Main Panel</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="/assets/products/redirects/detection-comp2.webp" alt="">
                        <p>Hooter</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1 left">
                        <img src="/assets/products/redirects/detection-comp3.webp" alt="">
                        <p>Smoke/Heat Detector</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="/assets/products/redirects/detection-comp4.webp" alt="">
                        <p>Manual Call Point (MCP)</p>
                    </div>
                </div>
            </div>
            <div class="wet-chemical-systems-buttons">
                <button class="add-to-cart-button" (click)="addProductToCart($event, 'Temperature detector')">
                  <img src="assets/products/redirects/add-to-cart-btnimg.png" alt="">
                  Add To Cart For Enquiry
                </button>
            </div>
        </div>

        <div class="download-product-brochure">
            <a class="download-product-brochure-button" href="assets/products/redirects/NFPA Brochure.pdf" download="NFPA Brochure.pdf">
                <img src="assets/products/redirects/pdf_logo.png" alt="">
                Download Product Brochure
            </a>
        </div>
    </div>


    <div #titleContainer3 class="systems-redirect-type1-title">
        <h2 #title03 class="systems-redirect-type1-heading">03</h2>
        <marquee #marquee3 behavior="slide" loop="1" width="100%" direction="left" height="100px" class="systems-redirect-marquee-text2" scrollamount="12">
            <span class="systems-redirect-marquee-subtext1">FLAME</span> <span class="systems-redirect-marquee-subtext2"> DETECTORS</span>
        </marquee>
        <hr #title03 class="systems-redirect-type1-hr">
    </div>

    <div #swiperContainer3 class="wet-chemical-suppression-systems-container">
        <div class="wet-chemical-suppression-systems">

            <div class="gallery-container">
                <div class="swiper-container mySwiper system-swiper" #mainSwiper3>
                    <div class="swiper-wrapper">
                        <div #mainSlide3 class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/flame-carousel1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/smoke-carousel1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/smoke-carousel2.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/smoke-carousel4.webp" />
                        </div>
                    </div>
                </div>
            
                <div #thumbsSlide3 class="swiper-container mySwiper2 system-swiper2" #thumbsSwiper3>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/flame-carousel1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/smoke-carousel1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/smoke-carousel2.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/smoke-carousel4.webp" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div #descriptionContainer3 class="wet-chemical-systems-description-container">
        <div class="wet-chemical-systems-product-description">
            <div class="wet-chemical-systems-product-description-heading">Product Description</div>
            <p class="wet-chemical-systems-product-description-para">Flame detectors are specialized fire detection devices that identify the presence of flames through the analysis of light emitted in the infrared, ultraviolet, or visible spectrum. These detectors are highly sensitive and can quickly detect the presence of an open flame, making them suitable for high-risk areas such as chemical plants, refineries, and fuel storage facilities. Flame detectors provide rapid detection and response to fire outbreaks.</p>
        </div>
        <div class="wet-chemical-systems-components-main-container">
            <div class="wet-chemical-systems-components">
                <div class="wet-chemical-systems-component-heading">System Components</div>
                <div class="wet-chemical-systems-components-container">
                    <div class="wet-chemical-systems-component-image-1 right">
                        <img src="/assets/products/redirects/detection-comp1.webp" alt="">
                        <p>Main Panel</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="/assets/products/redirects/detection-comp2.webp" alt="">
                        <p>Hooter</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1 left">
                        <img src="/assets/products/redirects/detection-comp3.webp" alt="">
                        <p>Smoke/Heat Detector</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="/assets/products/redirects/detection-comp4.webp" alt="">
                        <p>Manual Call Point (MCP)</p>
                    </div>
                </div>
            </div>
            <div class="wet-chemical-systems-buttons">
                <button class="add-to-cart-button" (click)="addProductToCart($event, 'Flame detector')">
                  <img src="assets/products/redirects/add-to-cart-btnimg.png" alt="">
                  Add To Cart For Enquiry
                </button>
            </div>
        </div>

        <div class="download-product-brochure">
            <a class="download-product-brochure-button" href="assets/products/redirects/NFPA Brochure.pdf" download="NFPA Brochure.pdf">
                <img src="assets/products/redirects/pdf_logo.png" alt="">
                Download Product Brochure
            </a>
        </div>
    </div>

    <div #titleContainer4 class="systems-redirect-type1-title">
        <h2 #title04 class="systems-redirect-type1-heading">04</h2>
        <marquee #marquee4 behavior="slide" loop="1" width="100%" direction="left" height="100px" class="systems-redirect-marquee-text2" scrollamount="12">
            <span class="systems-redirect-marquee-subtext1">GAS</span> <span class="systems-redirect-marquee-subtext2"> DETECTORS</span>
        </marquee>
        <hr #title04 class="systems-redirect-type1-hr">
    </div>

    <div #swiperContainer4 class="wet-chemical-suppression-systems-container">
        <div class="wet-chemical-suppression-systems">

            <div class="gallery-container">
                <div class="swiper-container mySwiper system-swiper" #mainSwiper4>
                    <div class="swiper-wrapper">
                        <div #mainSlide4 class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/gas-carousel1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/gas-carousel2.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/gas-carousel3.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/gas-carousel4.webp" />
                        </div>
                    </div>
                </div>
            
                <div #thumbsSlide4 class="swiper-container mySwiper2 system-swiper2" #thumbsSwiper4>
                    <div class="swiper-wrapper">
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/gas-carousel1.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/gas-carousel2.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/gas-carousel3.webp" />
                        </div>
                        <div class="swiper-slide system-swiper-slide">
                            <img src="assets/products/redirects/gas-carousel4.webp" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div #descriptionContainer4 class="wet-chemical-systems-description-container">
        <div class="wet-chemical-systems-product-description">
            <div class="wet-chemical-systems-product-description-heading">Product Description</div>
            <p class="wet-chemical-systems-product-description-para">Gas detectors are devices designed to identify the presence of hazardous gases in the environment. They detect gases such as carbon monoxide, methane, propane, and others that can pose fire or health risks. Gas detectors are equipped with sensors that trigger an alarm when the concentration of a specific gas reaches a dangerous level. These detectors are crucial in industrial settings, laboratories, and any environment where flammable or toxic gases are used or stored.</p>
        </div>
        <div class="wet-chemical-systems-components-main-container">
            <div class="wet-chemical-systems-components">
                <div class="wet-chemical-systems-component-heading">System Components</div>
                <div class="wet-chemical-systems-components-container">
                    <div class="wet-chemical-systems-component-image-1 right">
                        <img src="/assets/products/redirects/detection-comp1.webp" alt="">
                        <p>Main Panel</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="/assets/products/redirects/detection-comp2.webp" alt="">
                        <p>Hooter</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1 left">
                        <img src="/assets/products/redirects/detection-comp3.webp" alt="">
                        <p>Smoke/Heat Detector</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="/assets/products/redirects/detection-comp4.webp" alt="">
                        <p>Manual Call Point (MCP)</p>
                    </div>
                </div>
            </div>
            <div class="wet-chemical-systems-buttons">
                  <button class="add-to-cart-button" (click)="addProductToCart($event, 'Gas detector')">
                  <img src="assets/products/redirects/add-to-cart-btnimg.png" alt="">
                  Add To Cart For Enquiry
                </button>
            </div>
        </div>

        <div class="download-product-brochure">
            <a class="download-product-brochure-button" href="assets/products/redirects/NFPA Brochure.pdf" download="NFPA Brochure.pdf">
                <img src="assets/products/redirects/pdf_logo.png" alt="">
                Download Product Brochure
            </a>
        </div>
    </div>
</div>
