<div #container class="main-container">
  
    <div class="container-and-img">
      <img src="{{counter}}" alt="">
    </div>

    <div class="wrapper">

      <div class="container">
        <div #img class="img-container">
          <img src="{{services}}" alt="">
        </div>
        <div class="counter-container">
          <p #num class="num" data-val="15">0+</p>
          <p #text class="text">Services</p>
        </div>
      </div>

      <div class="container">
        <div #img class="img-container">
          <img src="{{statesServed}}" alt="">
        </div>
        <div class="counter-container">
          <p #num class="num" data-val="20">0+</p>
          <p #text class="text">States Served</p>
        </div>
      </div>

      <div class="container">
        <div #img class="img-container">
          <img src="{{clients}}" alt="">
        </div>
        <div class="counter-container">
          <p #num class="num" data-val="1500">0+</p>
          <p #text class="text">Clients</p> 
        </div>
      </div>

      <div class="container">
        <div #img class="img-container">
          <img src="{{systemsInstalled}}" alt="">
        </div>
        <div class="counter-container">
          <p #num class="num" data-val="4500">0+</p>
          <p #text class="text">System Installed</p>
        </div>
      </div>

    </div>
</div>