<div #container class="main-container">
  
    <div class="container-and-img">
      <picture>
        <source srcset="assets/Home/counter.webp" type="image/webp">
        <img src="assets/Home/counter.png"> 
      </picture>
    </div>

    <div class="wrapper">

      <div class="container">
        <div #img class="img-container">
          <img src="assets/Home/Counter/service.png" alt="">
        </div>
        <div class="counter-container">
          <p #num class="num" data-val="15">0+</p>
          <p #text class="text">Services</p>
        </div>
      </div>

      <div class="container">
        <div #img class="img-container">
          <img src="assets/Home/Counter/states.png" alt="">
        </div>
        <div class="counter-container">
          <p #num class="num" data-val="20">0+</p>
          <p #text class="text">States Served</p>
        </div>
      </div>

      <div class="container">
        <div #img class="img-container">
          <img src="assets/Home/Counter/clients.png" alt="">
        </div>
        <div class="counter-container">
          <p #num class="num" data-val="1500">0+</p>
          <p #text class="text">Clients</p> 
        </div>
      </div>

      <div class="container">
        <div #img class="img-container">
          <img src="assets/Home/Counter/systemInstalled.png" alt="">
        </div>
        <div class="counter-container">
          <p #num class="num" data-val="5000">0+</p>
          <p #text class="text">System Installed</p>
        </div>
      </div>

    </div>
</div>