<div #container class="clients-loop-container">
    <div class="client-title">
        <h3 #title>Our Esteemed Clients</h3>
    </div>
    <div class="scroller-container">
        <div class="scroller" #scrollers>
          <div class="scroller__inner first">
            <img src="assets/Home/Clients/l1.svg" />
            <img src="assets/Home/Clients/l2.svg" />
            <img src="assets/Home/Clients/l3.svg" />
            <img src="assets/Home/Clients/l4.svg" />
            <img src="assets/Home/Clients/l5.svg" />
            <img src="assets/Home/Clients/l6.svg" />
            <img src="assets/Home/Clients/l7.svg" />
            <img src="assets/Home/Clients/l8.svg" />
            <img src="assets/Home/Clients/l9.svg" />
            <img src="assets/Home/Clients/l10.svg" />
            <img src="assets/Home/Clients/l1.svg" />
            <img src="assets/Home/Clients/l2.svg" />
            <img src="assets/Home/Clients/l3.svg" />
            <img src="assets/Home/Clients/l4.svg" />
            <img src="assets/Home/Clients/l5.svg" />
            <img src="assets/Home/Clients/l6.svg" />
            <img src="assets/Home/Clients/l7.svg" />
            <img src="assets/Home/Clients/l8.svg" />
            <img src="assets/Home/Clients/l9.svg" />
            <img src="assets/Home/Clients/l10.svg" />
          </div>
        </div>
        <div class="scroller" #scrollers>
          <div class="scroller__inner second">
            <img src="assets/Home/Clients/l11.svg" />
            <img src="assets/Home/Clients/l12.svg" />
            <img src="assets/Home/Clients/l13.svg" />
            <img src="assets/Home/Clients/l14.svg" />
            <img src="assets/Home/Clients/l15.svg" />
            <img src="assets/Home/Clients/l16.svg" />
            <img src="assets/Home/Clients/l17.svg" />
            <img src="assets/Home/Clients/l18.svg" />
            <img src="assets/Home/Clients/l19.svg" />
            <img src="assets/Home/Clients/l20.svg" />
            <img src="assets/Home/Clients/l21.svg" />
            <img src="assets/Home/Clients/l11.svg" />
            <img src="assets/Home/Clients/l12.svg" />
            <img src="assets/Home/Clients/l13.svg" />
            <img src="assets/Home/Clients/l14.svg" />
            <img src="assets/Home/Clients/l15.svg" />
            <img src="assets/Home/Clients/l16.svg" />
            <img src="assets/Home/Clients/l17.svg" />
            <img src="assets/Home/Clients/l18.svg" />
            <img src="assets/Home/Clients/l19.svg" />
            <img src="assets/Home/Clients/l20.svg" />
            <img src="assets/Home/Clients/l21.svg" />
          </div>
        </div>
    </div>
</div>