<!-- NFPA India changed to Safety सारथी -->

<div #container class="testimonialsMainContainer">
  <div class="testimonialsTitleContainer">
      <h3 #title>TESTIMONIALS</h3>
  </div>
  <div class="testimonialsContainer"
    style="background: linear-gradient(to top, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 1)),
    linear-gradient(to right, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 1)), 
    linear-gradient(to left, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 1)), 
    url('assets/AboutUs/testimonials.webp') no-repeat center center;"
  >
    <div class="testimonialsSwiperContainer swiper-container" #mySwiper>

          <div class="testimonialsSwiperWrapper swiper-wrapper">

            <div class="swiper-slide" #slide1>
              <div class="testimonialsCard">
                <div class="stars">
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                </div>
                <p #quote class="quote">"We engaged Safety सारथी for our factory's annual maintenance contract, and their service has been exceptional. They provided thorough inspections and prompt solutions, ensuring our fire safety systems are always up to standard. Their team's professionalism and dedication are truly commendable. We feel much more secure knowing Safety सारथी is handling our fire protection needs."</p>
                <div #line class="author">
                  <p #name class="name">Mr. Amol Bhosale</p>
                  <p #post class="title">Phoenix Maccano</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide" #slide1>
              <div class="testimonialsCard">
                <div class="stars">
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                </div>
                <p #quote class="quote">"Safety सारथी's team has been consistently reliable in maintaining our factory's fire safety systems. Their attention to detail and proactive approach have significantly improved our overall safety standards. We're impressed by their commitment to excellence and their ability to address any issues swiftly. Highly recommended for any industrial maintenance needs."</p>
                <div #line class="author">
                  <p #name class="name">Mr. Kiran</p>
                  <p #post class="title">Master Fluid</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonialsCard">
                <div class="stars">
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                </div>
                <p #quote class="quote">"Our experience with Safety सारथी for our factory's AMC has been nothing short of outstanding. They bring in-depth knowledge and expertise to every inspection and maintenance task. Their innovative solutions and constant support ensure our operations run smoothly without any fire safety concerns. We're grateful for their unwavering commitment to our safety."</p>
                <div #line class="author">
                  <p #name class="name">Mr. Dinesh Adiga</p>
                  <p #post class="title">Pratham Engineering</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonialsCard">
                <div class="stars">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
                <p class="quote">"Safety सारथी was instrumental in the successful completion of our factory project. Their design and installation of fire protection systems were meticulous and complied with all regulatory standards. Their team's expertise and dedication were evident throughout the project. We now have a state-of-the-art fire safety system that gives us immense peace of mind."</p>
                <div class="author">
                  <p class="name">Mr. Abhijeet Buyer</p>
                  <p class="title">Meta Morphosis</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonialsCard">
                <div class="stars">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
                <p class="quote">"Choosing Safety सारथी for our factory project was the best decision we made. Their professional approach and advanced technology ensured that our fire safety systems were top-notch. They were always available to address our concerns and provided excellent post-installation support. We are extremely satisfied with their service."</p>
                <div class="author">
                  <p class="name">Mr. Arun Katti</p>
                  <p class="title">KP Transport</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonialsCard">
                <div class="stars">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
                <p class="quote">"Safety सारथी provided exceptional service for our new factory project. Their team's knowledge and commitment to safety standards were evident from the start. The installation process was smooth, and they ensured everything was perfectly in place. Their continued support and maintenance have been invaluable. We highly recommend their services."</p>
                <div class="author">
                  <p class="name">Mr. Devdatta</p>
                  <p class="title">Belrise Industries</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonialsCard">
                <div class="stars">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
                <p class="quote">"Safety सारथी has been our go-to for all fire safety requirements in our interior design projects. Their ability to seamlessly integrate fire protection systems without compromising on aesthetics is remarkable. Their team is knowledgeable, responsive, and always ready to provide innovative solutions. It's a pleasure working with them."</p>
                <div class="author">
                  <p class="name">Mr. Bahar Barve</p>
                  <p class="title">Mr. Interior Designer</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonialsCard">
                <div class="stars">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
                <p class="quote">"Working with Safety सारथी has been a game-changer for our architectural projects. They bring a wealth of expertise and ensure that all fire safety measures are meticulously planned and executed. Their commitment to safety and quality is unmatched. We trust them completely for all our fire protection needs."</p>
                <div class="author">
                  <p class="name">Mr. Mahesh Pawar</p>
                  <p class="title">Interface Infra</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonialsCard">
                <div class="stars">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
                <p class="quote">"Safety सारथी has consistently delivered excellent fire safety solutions for our interior design projects. Their team is highly professional and well-versed in the latest technologies. They handle every project with utmost care and ensure compliance with all safety standards. We are extremely satisfied with their service."</p>
                <div class="author">
                  <p class="name">Mr. Mohit Daneva</p>
                  <p class="title">Rudra's Interior Point Pvt. Ltd.</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonialsCard">
                <div class="stars">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
                <p class="quote">"Safety सारथी has been an invaluable partner in ensuring fire safety for our commercial kitchen projects. Their expertise in designing and installing fire protection systems is unparalleled. They are proactive in addressing potential issues and provide exceptional ongoing support. We highly recommend their services to anyone in need of fire safety solutions."</p>
                <div class="author">
                  <p class="name">Mr. Mohit Tate</p>
                  <p class="title">Haldiram</p>
                </div>
              </div>
            </div>

            <!-- Commercial Kitchen Multiplication -->


            <div class="swiper-slide">
              <div class="testimonialsCard">
                <div class="stars">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
                <p class="quote">"Safety सारथी's services have been crucial for our commercial kitchen operations. Their thorough understanding of fire safety requirements and impeccable installation of systems have ensured our kitchens are safe and compliant. Their team is professional, responsive, and always ready to assist. We couldn't be happier with their service."</p>
                <div class="author">
                  <p class="name">Mr. Madhav Walunj</p>
                  <p class="title">Barbeque Nation Hospitality Ltd.</p>
                </div>
              </div>
            </div>
        
            <div class="swiper-slide">
              <div class="testimonialsCard">
                <div class="stars">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
                <p class="quote">"Partnering with Safety सारथी for our commercial kitchen fire safety needs has been a great decision. Their expertise in fire protection and commitment to customer satisfaction are evident in their work. They have provided us with top-notch systems and continuous support, making our kitchens safer and more efficient. Highly recommended."</p>
                <div class="author">
                  <p class="name">Mr. Venu</p>
                  <p class="title">Swiggy Bundle Technology</p>
                </div>
              </div>
            </div>
        
            <div class="swiper-slide">
              <div class="testimonialsCard">
                <div class="stars">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
                <p class="quote">"Safety सारथी has been exceptional in maintaining fire safety systems for our society. Their regular inspections and maintenance work have ensured that all systems function perfectly. Their team's professionalism and dedication to safety have given us great peace of mind. We highly recommend their services for any residential needs."</p>
                <div class="author">
                  <p class="name">Mr. Sharma</p>
                  <p class="title">Gera Kharadi</p>
                </div>
              </div>
            </div>
        
            <div class="swiper-slide">
              <div class="testimonialsCard">
                <div class="stars">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
                <p class="quote">"We have been working with Safety सारथी for our society's fire safety maintenance, and their service is outstanding. They are thorough, reliable, and always prompt in addressing any issues. Their commitment to maintaining high safety standards is truly commendable. We are extremely satisfied with their work and support."</p>
                <div class="author">
                  <p class="name">Mr. Fernandes</p>
                  <p class="title">Puraniks</p>
                </div>
              </div>
            </div>
        
            <div class="swiper-slide">
              <div class="testimonialsCard">
                <div class="stars">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
                <p class="quote">"Safety सारथी has provided excellent maintenance services for our residential society's fire safety systems. Their team is knowledgeable, proactive, and always available to assist. Their regular maintenance and inspections have greatly enhanced our safety. We trust them completely for all our fire protection needs."</p>
                <div class="author">
                  <p class="name">Mr. Rajendra Laggad</p>
                  <p class="title">GK Associates</p>
                </div>
              </div>
            </div>
        
            <div class="swiper-slide">
              <div class="testimonialsCard">
                <div class="stars">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
                <p class="quote">"Safety सारथी has been our trusted partner for maintaining fire safety systems in our residential complex. Their dedication to ensuring our safety through regular inspections and timely maintenance is unmatched. Their team's professionalism and expertise have made a significant difference in our overall safety. Highly recommended."</p>
                <div class="author">
                  <p class="name">Mr. Jitu</p>
                  <p class="title">Skyone</p>
                </div>
              </div>
            </div>
          </div>
          
          <div #swiperPrev #buttons class="swiper-button-prev"></div>
          <div #swiperNext #buttons class="swiper-button-next"></div>
    </div>
  </div>
</div>