
.container{
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  position: relative;
  overflow: hidden;
}

.testimonials-container {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  overflow: hidden;
  /* background: linear-gradient(to top, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 1)),
      linear-gradient(to right, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 1)), 
      linear-gradient(to left, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 1)), 
      url('../../../assets/testimonials-i.jpg') no-repeat center center; */
}

.title-container{
  text-align: center;
  position: absolute;
  top: 1%;
}

h3{
  color: #C1121F;
  font-family: "Inter", sans-serif;
  font-size: 28px;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  margin: 0;
  margin-bottom: 5px;
}

/* For capsules*/
swiper-container, .swiper-container {
  width: 100%;
  height: 100%;
  --swiper-theme-color: #d6c0c0;
  --swiper-navigation-size: 30px;
  --swiper-navigation-sides-offset: 45%;
  --swiper-navigation-top-offset: 95%;
}

swiper-slide, .swiper-slide {
  height: auto;
  width: auto;
  text-align: center;
  font-size: 18px;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 330px;
  background-color: #f1f1f18f;
  padding: 20px 40px;
  border-radius: 20px;
  text-align: center;
  color: black;
}

.testimonial .stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 10px;
}

.stars .star {
  color: #ff9900;
  font-size: 24px;
}

.testimonial .quote {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  margin-bottom: 20px;
}

.author {
  width: 80%;
  border-top: 1px solid #130f0f;
}

.author p{
  margin: 0;
}

.author .name {
  font-family: "Inter", sans-serif;
  font-size: 22px;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: black;
  margin-top: 10px;
}

.author .title {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: #666;
  margin: 5px;
}

@media screen and (max-width: 1024px){

  .container{
    height: 100vh;
  }

  .swiper-container {
    --swiper-navigation-sides-offset: 40%;
  }

  .testimonial {
    width: 375px;
    height: 300px;
    padding: 18px 36px;
  }

  .testimonial .stars {
    gap: 20px;
  }

  .stars .star {
    font-size: 20px;
  }

  .testimonial .quote {
    font-size: 14px;
  }

  .author .name {
    font-size: 20px;
  }

  .author .title {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px){

  h3{
    font-size: 24px;
  }

  .testimonial {
    width: 280px;
    height: 270px;
    padding: 16px 32px;
  }

  .swiper-container {
    --swiper-navigation-sides-offset: 35%;
  }

  .testimonial .stars {
    gap: 15px;
  }

  .stars .star {
    font-size: 16px;
  }

  .testimonial .quote {
    font-size: 12px;
  }

  .author .name {
    font-size: 16px;
  }

  .author .title {
    font-size: 12px;
  }
}

@media screen and (max-width: 426px){

  .container{
    height: 80vh;
  }

  h3{
    font-size: 20px;
  }

  .testimonial {
    width: 250px;
    height: 250px;
    padding: 14px 28px;
  }

  .testimonial .stars {
    gap: 10px;
  }

  .stars .star {
    font-size: 14px;
  }

  .testimonial .quote {
    font-size: 10px;
  }

  .author .name {
    font-size: 14px;
  }

  .author .title {
    font-size: 10px;
  }
}

@media screen and (max-width: 375px){

  .container{
    height: 75vh;
  }

  h3{
    font-size: 18px;
  }

  .testimonial {
    width: 230px;
    height: 235px;
    padding: 12px 24px;
  }

  .testimonial .stars {
    gap: 8px;
  }

  .stars .star {
    font-size: 12px;
  }

  .testimonial .quote {
    font-size: 8px;
  }

  .author .name {
    font-size: 12px;
  }

  .author .title {
    font-size: 8px;
  }
}

@media screen and (max-width: 320px){

  h3{
    font-size: 16px;
  }

  .testimonial {
    width: 250px;
    height: 210px;
    padding: 10px 20px;
  }

}