<div #container class="container">
  <div class="title-container">
      <h3 #title>TESTIMONIALS</h3>
  </div>
  <div class="testimonials-container"
    style="background: linear-gradient(to top, rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 1)),
    linear-gradient(to right, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 1)), 
    linear-gradient(to left, rgba(0, 0, 0, 1),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 0),rgba(0, 0, 0, 1)), 
    url('assets/AboutUs/testimonials.webp') no-repeat center center;"
  >
    <div class="mySwiper swiper-container" #mySwiper>

          <div class="swiper-wrapper">

            <div class="swiper-slide" #slide1>
              <div class="testimonial">
                <div class="stars">
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                </div>
                <p #quote class="quote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia mollitia exercitationem, hic quos voluptatem itaque adipisci ut consectetur quisquam unde corporis delectus perferendis enim accusantium vitae eligendi iure aperiam earum! Qui beatae aspernatur numquam architecto consequatur mollitia soluta cum itaque libero! Consequatur rerum deserunt itaque saepe beatae debitis corporis atque.</p>
                <div #line class="author">
                  <p #name class="name">Mr. Aditya Kulkarni</p>
                  <p #post class="title">Chairman, Badve Group</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide" #slide1>
              <div class="testimonial">
                <div class="stars">
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                </div>
                <p #quote class="quote">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam quibusdam temporibus architecto vitae repudiandae fuga quae, itaque ratione a repellendus praesentium. Id officiis animi ipsum et cumque non voluptatum aspernatur quos voluptates. Beatae odit aliquam incidunt. Libero aut repellat ipsa.</p>
                <div #line class="author">
                  <p #name class="name">Mr. Aditya Kulkarni</p>
                  <p #post class="title">Chairman, Badve Group</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial">
                <div class="stars">
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                  <span #stars class="star">&#9733;</span>
                </div>
                <p #quote class="quote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro, maxime! Incidunt rerum sed cum inventore eligendi omnis soluta, recusandae asperiores sapiente, ipsum saepe, facilis accusantium maiores ad. Itaque fugiat sapiente id provident nam dolores, accusamus dolorem expedita recusandae est eius eaque adipisci vel commodi omnis dignissimos dicta reprehenderit ab. Dicta, tempora. Explicabo reiciendis aliquid et officia!</p>
                <div #line class="author">
                  <p #name class="name">Mr. Aditya Kulkarni</p>
                  <p #post class="title">Chairman, Badve Group</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial">
                <div class="stars">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
                <p class="quote">NFPA transformed our workplace safety culture. Their dynamic approach and expertise are unparalleled!</p>
                <div class="author">
                  <p class="name">Mr. Aditya Kulkarni</p>
                  <p class="title">Chairman, Badve Group</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial">
                <div class="stars">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
                <p class="quote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam accusamus aspernatur totam magni, corrupti, porro nihil minima aliquid expedita assumenda dolore? Cupiditate, eius beatae. Pariatur libero iste expedita consectetur modi molestias quos.</p>
                <div class="author">
                  <p class="name">Mr. Aditya Kulkarni</p>
                  <p class="title">Chairman, Badve Group</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial">
                <div class="stars">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
                <p class="quote">NFPA transformed our workplace safety culture. Their dynamic approach and expertise are unparalleled!</p>
                <div class="author">
                  <p class="name">Mr. Aditya Kulkarni</p>
                  <p class="title">Chairman, Badve Group</p>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial">
                <div class="stars">
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                  <span class="star">&#9733;</span>
                </div>
                <p class="quote">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam aperiam doloremque, nisi tenetur debitis earum cumque assumenda reprehenderit fugit dolorem.</p>
                <div class="author">
                  <p class="name">Mr. Aditya Kulkarni</p>
                  <p class="title">Chairman, Badve Group</p>
                </div>
              </div>
            </div>

          </div>
          
          <div #buttons class="swiper-button-next"></div>
          <div #buttons class="swiper-button-prev"></div>
    </div>
  </div>
</div>