:root {
    --white: #fff;
    --black: #000;
    --primary: #d4a024;
    --gray: #616161;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.container {
    margin-top: 80px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    flex-direction: column;
    position: relative;
}

.title{
    position: absolute;
    top: -8%;
    left: 44%;
    text-align: center;
    z-index: 5;
}

.title h4{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    font-size: 26px;
    margin: 10px;
    color: red;
}

.title h2{
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: white;
    margin: 10px;
}

.timeline {
    position: relative;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 25px 5px rgba(#000, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.timeline .swiper-container.main-swiper {
    height: 600px;
    width: 100%;
    position: relative;
}

.swiper-container{
    --swiper-navigation-size: 20px;
    --swiper-theme-color: #d49f24;
    --swiper-pagination-bullet-width: 50px;
    --swiper-pagination-bullet-height: 30px;
    --swiper-pagination-color: #d49f24c6;
    --swiper-pagination-bullet-inactive-color: #d49f2472;
    --swiper-navigation-top-offset: 75%;
    --swiper-navigation-sides-offset: 30%;
}

.timeline .swiper-wrapper.main-swiper-wrapper {
    transition: 2s cubic-bezier(0.68, -0.4, 0.27, 1.34) 0.2s;
}

.timeline .swiper-wrapper.main-swiper-wrapper .swiper-slide {
    position: relative;
    width: 100%;
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.timeline .swiper-wrapper.main-swiper-wrapper .swiper-slide::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -10%;
    width: 100%;
    height: 100%;
    background-color: #000000b3;
    box-shadow: 230px 0 150px 60vw #000000b3;
    border-radius: 100%;
    left: -60%;
    bottom: -8%;
    width: 240px;
    height: 50%;
    box-shadow: -230px 0 150px 50vw rgba(#000, 0.7);
}

.timeline .swiper-slide-content {
    position: absolute;
    text-align: center;
    width: 80%;
    max-width: 310px;
    right: 50%;
    top: 13%;
    transform: translate(50%, 0);
    font-size: 12px;
    z-index: 2;
    right: 0%;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
    width: 310px;
    font-size: 11px;
    text-align: left;
}

.timeline .swiper-slide .timeline-year-main {
    display: block;
    font-style: italic;
    font-size: 42px;
    margin-bottom: 50px;
    transform: translate3d(-20px, 0, 0);
    color: #d4a024;
    font-weight: 300;
    opacity: 0;
    transition: 0.2s ease 0.4s;
    margin-bottom: 0;
    font-size: 32px;
}

.timeline .swiper-slide .timeline-title {
    font-weight: 800;
    font-size: 34px;
    margin: 0 0 30px;
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
    transition: 0.2s ease 0.5s;
    font-size: 46px;
    margin: 0;
}

.timeline .swiper-slide .timeline-text {
    line-height: 1.5;
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
    transition: 0.2s ease 0.6s;
}

.timeline .swiper-slide-active .timeline-year-main {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 0.4s ease 1.6s;
}

.timeline .swiper-slide-active .timeline-title {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 0.4s ease 1.7s;
}

.timeline .swiper-slide-active .timeline-text {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: 0.4s ease 1.8s;
}

.timeline .swiper-container.main-swiper .swiper-button-prev{
    left: 30%;
}

.timeline .swiper-container.main-swiper .swiper-button-next{
    left: 40%;
}

.timeline .swiper-container.thumbs-swiper {
    height: 300px;
    height: auto;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    z-index: 1;
    position: absolute;
    left: 10% !important;
    color: #000000;
    text-align: center;
    overflow: hidden;
}

.timeline .swiper-container.thumbs-swiper .swiper-wrapper {
    position: relative; 
    height: 400px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
}

.timeline .thumbs-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    height: 775px;
    width: 2px;
    background-color: #d4a024;
    transform: translateX(-50%);
}

.timeline .thumbs-swiper .swiper-slide.thumbs-slide {
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    background-color: #d4a024;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.timeline .thumbs-swiper .swiper-slide span {
    width: 100%;
    font-size: 16px;
    color: #080808;
}

/* .timeline .thumbs-swiper .swiper-button-next,
.timeline .thumbs-swiper .swiper-button-prev {
    background-size: 20px 20px;
    z-index: 999;
    transition: 0.2s;
}

.timeline .thumbs-swiper .swiper-button-prev {
    top: -25%;
    right: 0;
    left: auto;
    transform: rotate(90deg);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");

}

.timeline .thumbs-swiper .swiper-button-prev:hover {
    transform: translateX(-3px);
    transform: rotate(90deg) translate(-3px, 10px);
}

.timeline .thumbs-swiper .swiper-button-next {
    right: 0%;
    top: auto;
    bottom: 0%;
    transform: rotate(90deg);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23d4a024'%2F%3E%3C%2Fsvg%3E");

}

.timeline .thumbs-swiper .swiper-button-next:hover {
    transform: translateX(3px);
    transform: rotate(90deg) translate(3px, 10px);
} */

@media screen and (max-width: 1024px) {

    .title{
        left: 40%;
    }

    .title h4{
        font-size: 22px;
    }

    .title h2{
        font-size: 28px;
    }

    .timeline .swiper-slide::after {
        right: -20%;
        bottom: -12%;
        width: 240px;
        height: 50%;
        box-shadow: -230px 0 150px 39vw rgba(#000, 0.7);
    }

    .timeline .swiper-slide-content {
        right: 25%;
    }
}

@media screen and (max-width: 768px) {

    .title h4{
        font-size: 20px;
    }

    .title h2{
        font-size: 24px;
    }

    .timeline .swiper-slide::after {
        right: -30%;
        bottom: -8%;
        width: 240px;
        height: 50%;
        box-shadow: -230px 0 150px 50vw #000000b1;
    }

    .timeline .swiper-slide-content {
        left: 30%;
        top: 50%;
        transform: translateY(-50%);
        width: 310px;
        font-size: 11px;
        text-align: left;
    }

    .timeline .swiper-slide .timeline-year {
        margin-bottom: 0;
        font-size: 32px;
    }

    .timeline .swiper-slide .timeline-title {
        font-size: 46px;
        margin: 0;
    }

    .timeline .swiper-container.main-swiper .swiper-button-prev{
        left: 40%;
    }
    
    .timeline .swiper-container.main-swiper .swiper-button-next{
        left: 50%;
    }
}

@media screen and (max-width: 576px){

    .title{
        top: -5%;
        left: 36%;
    }

    .title h4{
        font-size: 16px;
    }

    .title h2{
        font-size: 20px;
    }

    .swiper-container{
        --swiper-navigation-top-offset: 60%;
    }

    .timeline .swiper-slide-content {
        left: 17%;
        top: 35%;
    }

    .timeline .swiper-wrapper.main-swiper-wrapper .swiper-slide::after{
        box-shadow: 230px 0 150px 35vw #000000b3;
    }

    .timeline .swiper-container.main-swiper .swiper-button-prev{
        left: 30%;
    }
    
    .timeline .swiper-container.main-swiper .swiper-button-next{
        left: 45%;
    }

    .timeline .swiper-container.thumbs-swiper {
        height: auto;
        width: 500px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        left: 6% !important;
        bottom: 20%;
        color: #000000;
        text-align: center;
    }

    .timeline .swiper-container.thumbs-swiper .swiper-wrapper {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .timeline .thumbs-wrapper::before {
        left: 0%;
        height: 2px;
        width: 1200px;
        background-color: #d4a024;
        transform: translateY(750%);
    }

}

@media screen and (max-width: 426px){

    .title{
        left: 30%;
    }

    .swiper-container{
        --swiper-navigation-top-offset: 55%;
    }

    .timeline .swiper-slide-content {
        left: 10%;
        top: 33%;
    }

    .timeline .swiper-container.main-swiper .swiper-button-next{
        left: 65%;
    }

    .timeline .swiper-container.thumbs-swiper {
        height: auto;
        width: 375px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        left: 6% !important;
        bottom: 20%;
        color: #000000;
        text-align: center;
    }

    .timeline .thumbs-swiper .swiper-slide.thumbs-slide {
        width: 70px;
        height: 30px;
        margin-right: 0;
        /* display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        background-color: #d4a024;
        cursor: pointer;
        position: relative; */
        /* left: 0%; */
        /* transform: translateX(-50%); */
    }

    .timeline .swiper-container.thumbs-swiper .swiper-wrapper {
        height: auto;
        width: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }


}

@media screen and (max-width: 376px){

    .title{
        left: 27%;
    }

    .timeline .swiper-slide .timeline-year-main {
        margin-bottom: 0px;
        font-size: 28px;
    }
    
    .timeline .swiper-slide .timeline-title {
        font-weight: 800;
        font-size: 38px;
        margin: 0;
    }

    .timeline .swiper-container.thumbs-swiper {
        width: 340px;
        left: 6% !important;
        bottom: 25%;
    }

    .timeline .thumbs-swiper .swiper-slide.thumbs-slide {
        width: 70px;
        height: 30px;
        margin-right: 0;
    }

    .timeline .swiper-container.thumbs-swiper .swiper-wrapper {
        height: auto;
        width: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 321px){

    .title{
        left: 24%;
    }

    .timeline .swiper-slide-content {
        width: 270px;
    }

    .timeline .swiper-container.thumbs-swiper {
        width: 280px;
        left: 8% !important;
        bottom: 25%;
    }

    .timeline .thumbs-swiper .swiper-slide.thumbs-slide {
        width: 70px;
        height: 30px;
        margin-right: 0;
    }

    .timeline .swiper-container.thumbs-swiper .swiper-wrapper {
        height: auto;
        width: 50px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
}