<div #container class="timelineContainer">
  <div class="timelineTitle">
      <h4 #title>SIGNIFICANT</h4>
      <h2 #title>ACHIEVEMENTS</h2>
  </div>
    <div class="timelineCont">
      <div #swiperContainer class="swiper-container timelineMainSwiper" style="background-image: url('assets/AboutUs/achievement.webp');">

        <div class="swiper-wrapper timelineMainWrapper">

          <div #swiperSlide class="swiper-slide main-slide" data-year="2016-2017">
            <div class="swiper-slide-content">
              <span #sliderText class="timelineContentYear">2016 - 2017</span>
              <h4 #sliderText class="timelineContentTitle">Employees: 2<br>Turnover: 0.1 Cr</h4>
              <p #sliderText class="timelineContentText">Clients: Gera Song Of Joy Kharadi, Konark Orchid Wagholi, Almonte IT Park Kharadi</p>
            </div>
          </div>
  
          <div class="swiper-slide main-slide" data-year="2017-2018">
            <div class="swiper-slide-content">
              <span class="timelineContentYear">2017 - 2018</span>
              <h4 class="timelineContentTitle">Employees: 10<br>Turnover: 2.0 Cr</h4>
              <p class="timelineContentText">Clients: Jehangir Hospital, Jehangir Mills Pune Station, Times Of India Pune, Sai Radhe Pune Station</p>
            </div>
          </div>
  
          <div class="swiper-slide main-slide" data-year="2018-2019">
            <div class="swiper-slide-content">
              <span class="timelineContentYear">2018 - 2019</span>
              <h4 class="timelineContentTitle">Employees: 18<br>Turnover: 5 Cr</h4>
              <p class="timelineContentText">Clients: Park Land Mark Bibvewadi, Sai Trinity Pashan, Phoenix Mecano Urse, Phoenix Mecano, Sensata Technology Pashan</p>
            </div>
          </div>
  
          <div class="swiper-slide main-slide" data-year="2019-2020">
            <div class="swiper-slide-content">
              <span class="timelineContentYear">2019 - 2020</span>
              <h4 class="timelineContentTitle">Employees: 20<br>Turnover: 5.5 Cr</h4>
              <p class="timelineContentText">Clients: Pratham Engineering Chakan, Puneet S Balan, Puneet S Balan</p>
            </div>
          </div>
  
          <div class="swiper-slide main-slide" data-year="2020-2021">
            <div class="swiper-slide-content">
              <span class="timelineContentYear">2020 - 2021</span>
              <h4 class="timelineContentTitle">Employees: 15<br>Turnover: 3.5 Cr</h4>
              <p class="timelineContentText">Clients: Master Fluid, Piller Chemical Chakan, Fanuc Ind. Pvt. Ltd. Chakan, Joy Global Hadapsar</p>
            </div>
          </div>
  
          <div class="swiper-slide main-slide" data-year="2021-2022">
            <div class="swiper-slide-content">
              <span class="timelineContentYear">2021 - 2022</span>
              <h4 class="timelineContentTitle">Employees: 22<br>Turnover: 4.5 Cr</h4>
              <p class="timelineContentText">Clients: Metaenitech Unit, Rose Icon Pimple Saudagar, Manikchand Sky One, Manikchand Sky One</p>
            </div>
          </div>
  
          <div class="swiper-slide main-slide" data-year="2022-2023">
            <div class="swiper-slide-content">
              <span class="timelineContentYear">2022 - 2023</span>
              <h4 class="timelineContentTitle">Employees: 38<br>Turnover: 6.0 Cr</h4>
              <p class="timelineContentText">Clients: Jabil Ranjangaon VESDA System, Jabil Ranjangaon, Jabil Ranjangaon 100A</p>
            </div>
          </div>

          <div class="swiper-slide main-slide" data-year="2022-2023">
            <div class="swiper-slide-content">
              <span class="timelineContentYear">2023 - 2024</span>
              <h4 class="timelineContentTitle">Employees: 51<br>Turnover: 7.2 Cr</h4>
              <p class="timelineContentText">Clients: Phoenix Maccano, KP Transport, Rudra's Interior Point Pvt. Ltd.</p>
            </div>
          </div>

        </div>
        <div #buttons class="swiper-button-prev"></div>
        <div #buttons class="swiper-button-next"></div>
      </div>

      <!-- Here the thumbs start -->
      <div #thumbsSwiper class="swiper-container timelineThumbsSwiper">
        <div #wrapperLine class="swiper-wrapper timelineThumbsWrapper">
          
          <div #thumbs class="swiper-slide thumbs-slide">
            <span class="timeline-year">2016-2017</span>
          </div>

          <div #thumbs class="swiper-slide thumbs-slide">
            <span class="timeline-year">2017-2018</span>
          </div>

          <div #thumbs class="swiper-slide thumbs-slide">
            <span class="timeline-year">2018-2019</span>
          </div>

          <div #thumbs class="swiper-slide thumbs-slide">
            <span class="timeline-year">2019-2020</span>
          </div>

          <div #thumbs class="swiper-slide thumbs-slide">
            <span class="timeline-year">2020-2021</span>
          </div>

          <div #thumbs class="swiper-slide thumbs-slide">
            <span class="timeline-year">2021-2022</span>
          </div>

          <div #thumbs class="swiper-slide thumbs-slide">
            <span class="timeline-year">2022-2023</span>
          </div>

          <div #thumbs class="swiper-slide thumbs-slide">
            <span class="timeline-year">2023-2024</span>
          </div>

        </div>
      </div>
  </div>
</div>