<div #container class="container">
  <div class="title">
      <h4 #title>SIGNIFICANT</h4>
      <h2 #title>ACHIEVEMENTS</h2>
  </div>
    <div class="timeline">
      <div #swiperContainer class="swiper-container main-swiper">

        <div class="swiper-wrapper main-swiper-wrapper">

          <div #swiperSlide class="swiper-slide main-slide" style="background-image: url('../../../assets/psimg.png');" data-year="2018">
            <div class="swiper-slide-content">
              <span #sliderText class="timeline-year-main">2018</span>
              <h4 #sliderText class="timeline-title">Here Will be Our Title</h4>
              <p #sliderText class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>

          <div #swiperSlide class="swiper-slide main-slide" style="background-image: url('../../../assets/psimg.png');" data-year="2019">
            <div class="swiper-slide-content">
              <span class="timeline-year-main">2019</span>
              <h4 class="timeline-title">Here Will be Our Title</h4>
              <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>

          <div #swiperSlide class="swiper-slide main-slide" style="background-image: url('../../../assets/psimg.png');" data-year="2020">
            <div class="swiper-slide-content">
              <span class="timeline-year-main">2020</span>
              <h4 class="timeline-title">Here Will be Our Title</h4>
              <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>

          <div #swiperSlide class="swiper-slide main-slide" style="background-image: url('../../../assets/psimg.png');" data-year="2021">
            <div class="swiper-slide-content">
              <span class="timeline-year-main">2021</span>
              <h4 class="timeline-title">Here Will be Our Title</h4>
              <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>

          <div #swiperSlide class="swiper-slide main-slide" style="background-image: url('../../../assets/psimg.png');" data-year="2022">
            <div class="swiper-slide-content">
              <span class="timeline-year-main">2022</span>
              <h4 class="timeline-title">Here Will be Our Title</h4>
              <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>

          <div #swiperSlide class="swiper-slide main-slide" style="background-image: url('../../../assets/psimg.png');" data-year="2023">
            <div class="swiper-slide-content">
              <span class="timeline-year-main">2023</span>
              <h4 class="timeline-title">Here Will be Our Title</h4>
              <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>

          <div #swiperSlide class="swiper-slide main-slide" style="background-image: url('../../../assets/psimg.png');" data-year="2024">
            <div class="swiper-slide-content">
              <span class="timeline-year-main">2024</span>
              <h4 class="timeline-title">Here Will be Our Title</h4>
              <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>

          <div #swiperSlide class="swiper-slide main-slide" style="background-image: url('../../../assets/psimg.png');" data-year="2025">
            <div class="swiper-slide-content">
              <span class="timeline-year-main">2025</span>
              <h4 class="timeline-title">Here Will be Our Title</h4>
              <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>

          <div #swiperSlide class="swiper-slide main-slide" style="background-image: url('../../../assets/psimg.png');" data-year="2026">
            <div class="swiper-slide-content">
              <span class="timeline-year-main">2026</span>
              <h4 class="timeline-title">Here Will be Our Title</h4>
              <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>

          <div #swiperSlide class="swiper-slide main-slide" style="background-image: url('../../../assets/psimg.png');" data-year="2027">
            <div class="swiper-slide-content">
              <span class="timeline-year-main">2027</span>
              <h4 class="timeline-title">Here Will be Our Title</h4>
              <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>

          <div #swiperSlide class="swiper-slide main-slide" style="background-image: url('../../../assets/psimg.png');" data-year="2028">
            <div class="swiper-slide-content">
              <span class="timeline-year-main">2028</span>
              <h4 class="timeline-title">Here Will be Our Title</h4>
              <p class="timeline-text">Lorem ipsum dolor site amet, consectetur adipscing elit, sed do eisumod tempor incididut ut labore et dolore magna aliqua. Ut enim ad mimim venjam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
          </div>
        </div>
        <div #buttons class="swiper-button-prev"></div>
        <div #buttons class="swiper-button-next"></div>
      </div>

      <!-- Here the thumbs start -->
      <div #thumbsSwiper class="swiper-container thumbs-swiper">
        <div #wrapperLine class="swiper-wrapper thumbs-wrapper">
          
          <div #thumbs class="swiper-slide thumbs-slide">
            <span class="timeline-year">2018</span>
          </div>

          <div #thumbs class="swiper-slide thumbs-slide">
            <span class="timeline-year">2019</span>
          </div>

          <div #thumbs class="swiper-slide thumbs-slide">
            <span class="timeline-year">2020</span>
          </div>

          <div #thumbs class="swiper-slide thumbs-slide">
            <span class="timeline-year">2021</span>
          </div>

          <div #thumbs class="swiper-slide thumbs-slide">
            <span class="timeline-year">2022</span>
          </div>

          <div #thumbs class="swiper-slide thumbs-slide">
            <span class="timeline-year">2023</span>
          </div>

          <div #thumbs class="swiper-slide thumbs-slide">
            <span class="timeline-year">2024</span>
          </div>

          <div #thumbs class="swiper-slide thumbs-slide">
            <span class="timeline-year">2025</span>
          </div>

          <div #thumbs class="swiper-slide thumbs-slide">
            <span class="timeline-year">2026</span>
          </div>

          <div #thumbs class="swiper-slide thumbs-slide">
            <span class="timeline-year">2027</span>
          </div>

          <div #thumbs class="swiper-slide thumbs-slide">
            <span class="timeline-year">2028</span>
          </div>
        </div>
        <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->
      </div>


    </div>
  </div>
  