<section>
    <div class="head-container">
      <div class="heading1">
        <h1 class="head1">WHAT OCCUPATION OR BUSINESS DO YOU OWN?</h1>
      </div>
      <div class="heading2">
        <h1 class="head2">Get tailored solutions for any domain</h1>
      </div>
    </div>
    <div class="grid-container">
      <div class="flex-container">
        <a routerLink="/total-solutions/Schools" class="image-container">
          <img src="assets/Solutions/Schools.webp" alt="Schools & Universities">
          <h3>Schools & Universities</h3>
        </a>
        <a routerLink="/total-solutions/Residentials" class="image-container">
          <img src="assets/Solutions/Property.webp" alt="Residential Buildings">
          <h3>Residential Buildings</h3>
        </a>
        <a routerLink="/total-solutions/DataCentres" class="image-container">
          <img src="assets/Solutions/DataC.webp" alt="Data Centers & Mission Critical Facilities">
          <h3>Data Centers & Mission Critical Facilities</h3>
        </a>
        <a routerLink="/total-solutions/Museums" class="image-container">
          <img src="assets/Solutions/Museum.webp" alt="Museums & Cultural Facilities">
          <h3>Museums & Cultural Facilities</h3>
        </a>
        <a routerLink="/total-solutions/Industries" class="image-container">
          <img src="assets/Solutions/Industry.webp" alt="Industrial, Warehouse & Storage Facilities">
          <h3>Industrial, Warehouse & Storage Facilities</h3>
        </a>
        <a routerLink="/total-solutions/Restaurants" class="image-container">
          <img src="assets/Solutions/Restaurant.webp" alt="Restaurant & Food Service">
          <h3>Restaurant & Food Service</h3>
        </a>
        <a routerLink="/total-solutions/Hospitals" class="image-container">
          <img src="assets/Solutions/Hospital.webp" alt="Hospitals & Healthcare Facilities">
          <h3>Hospitals & Healthcare Facilities</h3>
        </a>
        <a routerLink="/total-solutions/Hotels" class="image-container">
          <img src="assets/Solutions/Hotel.webp" alt="Hotels & Convention Centers">
          <h3>Hotels & Convention Centers</h3>
        </a>
        <a routerLink="/total-solutions/Commercials" class="image-container">
          <img src="assets/Solutions/Corporate.webp" alt="Commercial-Buildings">
          <h3>Commercial Buildings</h3>
        </a>
        <a routerLink="/total-solutions/Architects" class="image-container">
          <img src="assets/Solutions/Architect.webp" alt="Architect-Interior">
          <h3>Architect-Interior Solutions</h3>
        </a>
      </div>
    </div>
    <p class="footer-text">Is Your Workplace not listed here?<a routerLink="/contact" class="footer-text">Contact Us</a></p>
  </section>
  