<div class="parent">
    <img src="assets/Catalogue/catalouge_main.webp" class="main">
</div>

<h1>Our Catalouges</h1>

<div class="c1 docs">1) Fire installations design guides for the architects detailed discussion handout</div>

<div class="c2 docs">2) Fire installations design guides for the architects detailed discussion handout</div>

<div class="c3 docs">3) Fire installations design guides for the architects detailed discussion handout</div>

<div class="c4 docs">4) Fire installations design guides for the architects detailed discussion handout</div>

<div class="c5 docs">5) Fire installations design guides for the architects detailed discussion handout</div>

<div class="c6 docs">6) Fire installations design guides for the architects detailed discussion handout</div>


<a href="https://wa.me/7066729911" target="_blank">
    <img src="assets/Common/whatsapp.png" alt="whatsapp">
    Get Catalogues
  </a>
