<div class="parent">
    <img src="assets/Catalogue/catalouge_main.webp" class="main">
</div>

<h1>Our Catalouges</h1>
<div class="c1 docs">1) Complete NFPA India Company Profile</div>
<div class="c2 docs">2) All Products and Services Combined Brochure </div>
<div class="c3 docs">3) Kitchen Fire Suppression System Brochure</div>
<div class="c4 docs">4) Tube Base Fire Suppression Brochure</div>
<div class="c5 docs">5) CO2 Suppression system Brochure</div>
<div class="c6 docs">6) Inert Gas Suppression system Brochure</div>
<div class="c7 docs">7) E-book: The Architect's Handbook to  Advanced Fire Fighting Systems</div>
<div class="c8 docs">8) E-Book: Introduction to Industrial Fire Safety Compliance</div>
<div class="c9 docs">9) Commercial Kitchen System Solution Info PDF.</div>
<div class="c10 docs">10) Fire Retardant Doors Brochure</div>
<div class="c11 docs">11) Comprehensive Solution for Architect leaflet</div>

<a href="https://wa.me/7066729911" target="_blank">
    <img src="assets/Common/whatsapp.png" alt="whatsapp">
    Get Catalogues
</a>