<div #mainHeadingTrigger class="systems-redirect-main-container">
    <div #bgImage class="systems-redirect-container">
        <div class="gradient"></div>
        <div #mainHeading class="systems-redirect-heading">
            Fire <span class="class1">H</span>ydrant Systems
        </div>
    </div>
    
    <div #bodyContainerTrigger class="systems-redirect-body-container">
        <div #pattern class="systems-redirect-bg-pattern"></div>
        <div class="systems-redirect-first-content">
            <p #mainSubTitle class="systems-redirect-subtext1">Innovative Protection, Unmatched Performance</p>
            <hr #mainSubTitle class="systems-redirect-subtext1-hr">
            <p #mainSubTitle class="systems-redirect-subtext2">Explore Our Fire Suppression Solutions</p>
        </div>
        <div #pattern class="systems-redirect-bg-pattern">
        </div>
    </div>

    <div #titleContainer1 class="systems-redirect-type1-title">
        <h2 #title01 class="systems-redirect-type1-heading">01</h2>
        <marquee #marquee1 behavior="slide" loop="1" width="100%" direction="left" height="100px" class="systems-redirect-marquee-text" scrollamount="12">
            <span class="systems-redirect-marquee-subtext1">EXTERNAL FIRE</span> <span class="systems-redirect-marquee-subtext2"> HYDRANT SYSTEMS</span>
        </marquee>
        <hr #title01 class="systems-redirect-type1-hr">
    </div>

    <div #swiperContainer1 class="wet-chemical-suppression-systems-container">
        <div class="wet-chemical-suppression-systems">

            <div class="gallery-container">
                <div class="swiper-container mySwiper" #mainSwiper>
                    <div class="swiper-wrapper">
                        <div #mainSlide1 class="swiper-slide">
                            <img src="assets/products/redirects/external_hydrant.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/products/redirects/hydrant-carousel2.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/products/redirects/hydrant-carousel3.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/products/redirects/hydrant-carousel4.webp" />
                        </div>
                    </div>
                </div>
            
                <div class="swiper-container mySwiper2" #thumbsSwiper>
                    <div class="swiper-wrapper">
                        <div #thumbsSlide1 class="swiper-slide">
                            <img src="assets/products/redirects/external_hydrant.webp" />
                        </div>
                        <div #thumbsSlide1 class="swiper-slide">
                            <img src="assets/products/redirects/hydrant-carousel2.webp" />
                        </div>
                        <div #thumbsSlide1 class="swiper-slide">
                            <img src="assets/products/redirects/hydrant-carousel3.webp" />
                        </div>
                        <div #thumbsSlide1 class="swiper-slide">
                            <img src="assets/products/redirects/hydrant-carousel4.webp" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div #descriptionContainer class="wet-chemical-systems-description-container">
        <div class="wet-chemical-systems-product-description">
            <div class="wet-chemical-systems-product-description-heading">Product Description</div>
            <p class="wet-chemical-systems-product-description-para">External fire hydrant systems are installed outside buildings and are designed to provide firefighters with a readily available source of water to combat fires. These systems consist of a network of pipes that distribute water from a reliable source, such as a municipal water supply or a dedicated water tank, to strategically located hydrants around the property. External fire hydrants are critical for large facilities, industrial complexes, and urban areas where rapid access to water is essential for effective firefighting operations.
            </p>
        </div>
        <div class="wet-chemical-systems-components-main-container">
            <div class="wet-chemical-systems-components">
                <div class="wet-chemical-systems-component-heading">System Components</div>
                <div class="wet-chemical-systems-components-container">
                    <div class="wet-chemical-systems-component-image-1 right">
                        <img src="/assets/products/redirects/hydrant-comp1.webp" alt="">
                        <p>Water/Foam Monitor</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="/assets/products/redirects/hydrant-comp2.webp" alt="">
                        <p>Hose Reel</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1 left">
                        <img src="/assets/products/redirects/hydrant-comp3.webp" alt="">
                        <p>Fire Hose Box</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="/assets/products/redirects/Control-valves.jpg" alt="">
                        <p>Control valves</p>
                    </div>
                </div>
            </div>
            <div class="wet-chemical-systems-buttons">
                <button class="add-to-cart-button" (click)="addProductToCart('External fire hydrant system')"> 
                    <img src="assets/products/redirects/add-to-cart-btnimg.png" alt="">
                    Add To Cart For Enquiry</button>
            </div>
        </div>

        <div class="download-product-brochure">
            <a class="download-product-brochure-button" href="assets/products/redirects/NFPA Brochure.pdf" download="NFPA Brochure.pdf">
                <img src="assets/products/redirects/pdf_logo.png" alt="">
                Download Product Brochure
            </a>
        </div>
    </div>

    <div #titleContainer2 class="systems-redirect-type1-title">
        <h2 #title02 class="systems-redirect-type1-heading">02</h2>
        <marquee #marquee2 behavior="slide" loop="1" width="100%" direction="left" height="100px" class="systems-redirect-marquee-text2" scrollamount="12">
            <span class="systems-redirect-marquee-subtext1">INTERNAL FIRE</span> <span class="systems-redirect-marquee-subtext2"> HYDRANT SYSTEMS</span>
        </marquee>
        <hr #title02 class="systems-redirect-type1-hr">
    </div>

    <div #swiperContainer2 class="wet-chemical-suppression-systems-container">
        <div class="wet-chemical-suppression-systems">

            <div class="gallery-container">
                <div class="swiper-container mySwiper" #mainSwiper2>
                    <div class="swiper-wrapper">
                        <div #mainSlide2 class="swiper-slide">
                            <img src="assets/products/redirects/internal_hydrant.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/products/redirects/hydrant-carousel2.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/products/redirects/hydrant-carousel3.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/products/redirects/hydrant-carousel4.webp" />
                        </div>
                    </div>
                </div>
            
                <div class="swiper-container mySwiper2" #thumbsSwiper2>
                    <div class="swiper-wrapper">
                        <div #thumbsSlide2 class="swiper-slide">
                            <img src="assets/products/redirects/internal_hydrant.webp" />
                        </div>
                        <div #thumbsSlide2 class="swiper-slide">
                            <img src="assets/products/redirects/hydrant-carousel2.webp" />
                        </div>
                        <div #thumbsSlide2 class="swiper-slide">
                            <img src="assets/products/redirects/hydrant-carousel3.webp" />
                        </div>
                        <div #thumbsSlide2 class="swiper-slide">
                            <img src="assets/products/redirects/hydrant-carousel4.webp" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div #descriptionContainer2 class="wet-chemical-systems-description-container">
        <div class="wet-chemical-systems-product-description">
            <div class="wet-chemical-systems-product-description-heading">Product Description</div>
            <p class="wet-chemical-systems-product-description-para">Internal fire hydrant systems are installed within buildings to provide an immediate water supply for firefighting purposes. These systems consist of internal pipes connected to hydrant outlets, which are strategically placed throughout the building to ensure quick access in the event of a fire. Internal hydrant systems are commonly found in high-rise buildings, large commercial complexes, and industrial facilities, providing an essential resource for both professional firefighters and trained building occupants to manage fire emergencies.</p>
        </div>
        <div class="wet-chemical-systems-components-main-container">
            <div class="wet-chemical-systems-components">
                <div class="wet-chemical-systems-component-heading">System Components</div>
                <div class="wet-chemical-systems-components-container">
                    <div class="wet-chemical-systems-component-image-1 right">
                        <img src="/assets/products/redirects/Internal hydrants.png" alt="">
                        <p>Internal hydrants</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="/assets/products/redirects/hydrant-comp1.webp" alt="">
                        <p>Water/Foam Monitor</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1 left">
                        <img src="/assets/products/redirects/hydrant-comp2.webp" alt="">
                        <p>Hose Reel</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="/assets/products/redirects/hydrant-comp3.webp" alt="">
                        <p>Fire Hose Box</p>
                    </div>
                </div>
            </div>
            <div class="wet-chemical-systems-buttons">
                <button class="add-to-cart-button" (click)="addProductToCart('Internal fire hydrant system')">
                    <img src="assets/products/redirects/add-to-cart-btnimg.png" alt="">
                    Add To Cart For Enquiry</button>
            </div>
        </div>

        <div class="download-product-brochure">
            <a class="download-product-brochure-button" href="assets/products/redirects/NFPA Brochure.pdf" download="NFPA Brochure.pdf">
                <img src="assets/products/redirects/pdf_logo.png" alt="">
                Download Product Brochure
            </a>
        </div>
    </div>


    <div #titleContainer3 class="systems-redirect-type1-title">
        <h2 #title03 class="systems-redirect-type1-heading">03</h2>
        <marquee #marquee3 behavior="slide" loop="1" width="100%" direction="left" height="100px" class="systems-redirect-marquee-text2" scrollamount="12">
            <span class="systems-redirect-marquee-subtext1">FIRE FIGHTING</span> <span class="systems-redirect-marquee-subtext2"> PUMP ROOM</span>
        </marquee>
        <hr #title03 class="systems-redirect-type1-hr">
    </div>

    <div #swiperContainer3 class="wet-chemical-suppression-systems-container">
        <div class="wet-chemical-suppression-systems">

            <div class="gallery-container">
                <div class="swiper-container mySwiper" #mainSwiper3>
                    <div class="swiper-wrapper">
                        <div #mainSlide3 class="swiper-slide">
                            <img src="assets/products/redirects/pump-carousel.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/products/redirects/pump-carousel2.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/products/redirects/pump-carousel3.webp" />
                        </div>
                        <div class="swiper-slide">
                            <img src="assets/products/redirects/pump-carousel4.webp" />
                        </div>
                    </div>
                </div>
            
                <div class="swiper-container mySwiper2" #thumbsSwiper3>
                    <div class="swiper-wrapper">
                        <div #thumbsSlide3 class="swiper-slide">
                            <img src="assets/products/redirects/pump-carousel.webp" />
                        </div>
                        <div #thumbsSlide3 class="swiper-slide">
                            <img src="assets/products/redirects/pump-carousel2.webp" />
                        </div>
                        <div #thumbsSlide3 class="swiper-slide">
                            <img src="assets/products/redirects/pump-carousel3.webp" />
                        </div>
                        <div #thumbsSlide3 class="swiper-slide">
                            <img src="assets/products/redirects/pump-carousel4.webp" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div #descriptionContainer3 class="wet-chemical-systems-description-container">
        <div class="wet-chemical-systems-product-description">
            <div class="wet-chemical-systems-product-description-heading">Product Description</div>
            <p class="wet-chemical-systems-product-description-para">The fire fighting pump room is the heart of a fire hydrant system, housing the equipment necessary to ensure a consistent and high-pressure water supply to hydrants, sprinklers, and other firefighting systems. The pump room typically contains an electrical pump, jockey pump, and a diesel engine pump to provide redundancy and reliability. These components work together to maintain water pressure and flow, ensuring that the firefighting system operates effectively during an emergency.
            </p>
        </div>
        
        <div class="wet-chemical-systems-components-main-container">
            <div class="wet-chemical-systems-components">
                <div class="wet-chemical-systems-component-heading">System Components</div>
                <div class="wet-chemical-systems-components-container">
                    <div class="wet-chemical-systems-component-image-1 right">
                        <img src="/assets/products/redirects/pump-comp2.webp" alt="">
                        <p>Electrical pump</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="/assets/products/redirects/pump-comp1.webp" alt="">
                        <p>Jockey pump</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1 left">
                        <img src="/assets/products/redirects/pump-comp3.webp" alt="">
                        <p>Diesel engine pump</p>
                    </div>
                    <div class="wet-chemical-systems-component-image-1">
                        <img src="/assets/products/redirects/Control-panel.jpg" alt="">
                        <p>Control panel</p>
                    </div>
                </div>
            </div>
            <div class="wet-chemical-systems-buttons">
                <button class="add-to-cart-button" (click)="addProductToCart('The fire fighting pump room')">
                    <img src="assets/products/redirects/add-to-cart-btnimg.png" alt="">
                    Add To Cart For Enquiry</button>
            </div>
        </div>

        <div class="download-product-brochure">
            <a class="download-product-brochure-button" href="assets/products/redirects/NFPA Brochure.pdf" download="NFPA Brochure.pdf">
                <img src="assets/products/redirects/pdf_logo.png" alt="">
                Download Product Brochure
            </a>
        </div>
    </div>

</div>
