<section class="services-redirect">
  <div class="services-redirect-main-container">
    <div class="services-redirect-container">
      <div class="services-redirect-heading">Training</div>
    </div>
    <div class="services-redirect-body">
      <div class="services-redirect-Image">
        <div class="services-redirect-Img-container">
          <div class="services-redirect-img"></div>
        </div>
      </div>

      <div class="services-redirect-information">
        <div class="services-redirect-information-heading">
          Services Description
        </div>
        <p class="services-redirect-information-para">
          Fire training is an essential service aimed at educating employees,
          building occupants, and safety personnel on the proper procedures and
          techniques for preventing, responding to, and managing fire
          emergencies. This training covers a wide range of topics, including
          the use of fire extinguishers, evacuation procedures, fire safety
          protocols, and the roles and responsibilities during a fire emergency.
          The primary goal of fire training is to equip individuals with the
          knowledge and skills necessary to protect themselves and others,
          minimize property damage, and ensure a swift and safe response to fire
          incidents.
        </p>
        <div class="services-redirect-information-heading">
          Training Curriculum
        </div>
        <p class="services-redirect-information-para">
          The fire training program typically consists of theoretical and
          practical sessions, tailored to the specific needs of the organization
          and the nature of the risks present in their environment. The
          curriculum includes lectures, demonstrations, hands-on practice, and
          emergency drills. Topics covered include fire prevention strategies,
          the types and proper use of fire extinguishers, evacuation routes and
          procedures, the operation of fire alarm systems, and first aid
          measures. The training sessions are conducted by certified fire safety
          professionals and can be customized to address the unique challenges
          of different workplace environments.
        </p>
      </div>
    </div>

    <div class="services-redirect-key-features">
      <div class="services-redirect-key-features-heading">Key Features</div>
      <div class="services-redirect-key-features-list">
        <ul class="services-redirect-key-features-ul">
            <li class="key-features-list-items">
                <div class="circle-design-div">
                  <div class="circle-design">
                    <img
                      src="assets/products/redirects/fire extinguisher.svg"
                      class="key-features-img"
                      alt="image"
                    />
                  </div>
                </div>
                <div class="key-features-list-item-content">
                  <h4 class="key-features-item-heading">Hands-On Fire Extinguisher Training</h4>
                  <p class="key-features-list-item-desc">
                    Participants learn the proper techniques for using different types
              of fire extinguishers through practical, hands-on sessions,
              ensuring they can effectively combat small fires.
                  </p>
                </div>
              </li>

          <li class="key-features-list-items">
            <div class="circle-design-div">
              <div class="circle-design">
                <img
                  src="assets/products/redirects/safety vest.svg"
                  class="key-features-img"
                  alt="image"
                />
              </div>
            </div>
            <div class="key-features-list-item-content">
              <h4 class="key-features-item-heading">Evacuation Drills</h4>
              <p class="key-features-list-item-desc">
                Regularly scheduled evacuation drills are conducted to familiarize
              participants with escape routes and procedures, enhancing their
              ability to evacuate safely and efficiently during a fire
              emergency.
              </p>
            </div>
          </li>

          <li class="key-features-list-items">
            <div class="circle-design-div">
              <div class="circle-design">
                <img
                  src="assets/products/redirects/Exchange market analysis on holographic screen.svg"
                  class="key-features-img"
                  alt="image"
                />
              </div>
            </div>
            <div class="key-features-list-item-content">
              <h4 class="key-features-item-heading">Customized Training Programs</h4>
              <p class="key-features-list-item-desc">
                Fire training sessions are tailored to the specific needs and
              risks of the organization, ensuring relevant and effective
              instruction for all participants.
              </p>
            </div>
          </li>

          <li class="key-features-list-items">
            <div class="circle-design-div">
              <div class="circle-design">
                <img
                  src="assets/products/redirects/yellow security shield button.svg"
                  class="key-features-img"
                  alt="image"
                />
              </div>
            </div>
            <div class="key-features-list-item-content">
              <h4 class="key-features-item-heading">Certified Instructors</h4>
              <p class="key-features-list-item-desc">
                Training is delivered by experienced and certified fire safety
              professionals who provide expert guidance and ensure that all
              safety protocols and best practices are covered.
              </p>
            </div>
          </li>

          <li class="key-features-list-items">
            <div class="circle-design-div">
              <div class="circle-design">
                <img
                  src="assets/products/redirects/repair-img.png"
                  class="key-features-img"
                  alt="image"
                />
              </div>
            </div>
            <div class="key-features-list-item-content">
              <h4 class="key-features-item-heading">Comprehensive Safety Protocols</h4>
              <p class="key-features-list-item-desc">
                Participants are educated on a wide range of fire safety
              protocols, including fire prevention measures, emergency response
              procedures, and first aid, equipping them with the knowledge to
              handle various fire-related situations.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="services-redirect-button">
      <button class="add-to-cart-button" (click)="addProductToCart('Training')">
        <img src="assets/products/redirects/add-to-cart-btnimg.png" alt="" />
        Add To Cart For Enquiry
      </button>
    </div>
  </div>
</section>
