<div class="big-img">
  <img src="assets/Solutions/Architect-wide.webp" loading="lazy" sizes="100vw" alt="" class="image-12" />
  <h1 class="heading-5">Architect Interior</h1>
  <h1 class="heading-5-copy">Solutions</h1>
</div>

<div class="req-div">
  <h1 class="req-head">System Requirements</h1>
  <div class="details-div-copy" *ngFor="let brochure of brochures; let i = index">
    <div class="div-block-2">
      <div class="row">
      <img [src]="'assets/Solutions/' + brochure.imageFront" loading="lazy" width="320" height="470" alt="" class="image-4-copy" />
      <img [src]="'assets/Solutions/' + brochure.imageBack" loading="lazy" width="320" height="470" alt="" class="image-4-copy" />
    </div>
  </div>
    <div class="div-block-3-copy">
      <h1 class="req-head-copy">{{ i + 1 }}. {{ brochure.name }}</h1>
      <p class="paragraph-2-copy">{{ brochure.description }}</p>
      <a [href]="'assets/Solutions/' + brochure.file" download="{{ brochure.name }}.pdf" class="link">Download Brochure <strong>→</strong></a>
    </div>
  </div>
</div>
  