<section class="services-redirect">
  <div class="services-redirect-main-container">
    <div class="services-redirect-container">
      <div class="services-redirect-heading">Licensing/NOC</div>
    </div>
    <div class="services-redirect-body">
      <div class="services-redirect-Image">
        <div class="services-redirect-Img-container">
          <div class="services-redirect-img"></div>
        </div>
      </div>

      <div class="services-redirect-information">
        <div class="services-redirect-information-heading">
          Services Description
        </div>
        <p class="services-redirect-information-para">
          Licensing services for fire safety systems involve ensuring that all
          fire protection equipment and personnel meet the required legal and
          safety standards set by local authorities. This includes obtaining the
          necessary permits and certifications for fire alarms, sprinkler
          systems, extinguishers, and other fire safety devices. Licensing
          ensures that the equipment is installed, maintained, and operated
          according to the regulations, thereby enhancing the overall safety and
          compliance of the facility. Regular licensing checks are essential for
          maintaining legal compliance and ensuring the reliability of fire
          safety systems.
        </p>
        <div class="services-redirect-information-heading">
          Licensing Process
        </div>
        <p class="services-redirect-information-para">
          The licensing process begins with a comprehensive review of the fire
          safety systems and equipment to ensure they meet all local, state, and
          national regulations. This includes inspecting installations,
          reviewing maintenance records, and verifying the qualifications of
          fire safety personnel. Applications for necessary permits and
          certifications are then submitted to the relevant authorities. Once
          approved, the equipment is tagged with the appropriate certification
          labels, and records are updated. Regular renewals and inspections are
          scheduled to maintain ongoing compliance.
        </p>
      </div>
    </div>

    <div class="services-redirect-key-features">
      <div class="services-redirect-key-features-heading">Key Features</div>
      <div class="services-redirect-key-features-list">
        <ul class="services-redirect-key-features-ul">
            <li class="key-features-list-items">
                <div class="circle-design-div">
                  <div class="circle-design">
                    <img
                      src="assets/products/redirects/Business law, regulations and legal system.svg"
                      class="key-features-img"
                      alt="image"
                    />
                  </div>
                </div>
                <div class="key-features-list-item-content">
                  <h4 class="key-features-item-heading">Regulatory Compliance Review</h4>
                  <p class="key-features-list-item-desc">
                    Ensures all fire safety systems and equipment meet the required
              legal and safety standards, avoiding fines and legal issues.
                  </p>
                </div>
              </li>

          <li class="key-features-list-items">
            <div class="circle-design-div">
              <div class="circle-design">
                <img
                  src="assets/products/redirects/yellow security shield button.svg"
                  class="key-features-img"
                  alt="image"
                />
              </div>
            </div>
            <div class="key-features-list-item-content">
              <h4 class="key-features-item-heading">Certification and Permits</h4>
              <p class="key-features-list-item-desc">
                Obtaining the necessary permits and certifications for fire
              alarms, sprinkler systems, and other fire safety equipment to
              ensure compliance.
              </p>
            </div>
          </li>

          <li class="key-features-list-items">
            <div class="circle-design-div">
              <div class="circle-design">
                <img
                  src="assets/products/redirects/inspection.svg"
                  class="key-features-img"
                  alt="image"
                />
              </div>
            </div>
            <div class="key-features-list-item-content">
              <h4 class="key-features-item-heading">Inspection and Verification</h4>
              <p class="key-features-list-item-desc">
                Comprehensive inspections and verification of installations,
              maintenance records, and personnel qualifications to meet
              regulatory requirements.
              </p>
            </div>
          </li>

          <li class="key-features-list-items">
            <div class="circle-design-div">
              <div class="circle-design">
                <img
                  src="assets/products/redirects/Approved and signed contract on clipboard.svg"
                  class="key-features-img"
                  alt="image"
                />
              </div>
            </div>
            <div class="key-features-list-item-content">
              <h4 class="key-features-item-heading">Certified Tagging</h4>
              <p class="key-features-list-item-desc">
                Equipment is labeled with appropriate certification tags,
              indicating compliance and readiness for use.
              </p>
            </div>
          </li>

          <li class="key-features-list-items">
            <div class="circle-design-div">
              <div class="circle-design">
                <img
                  src="assets/products/redirects/repair-img.png"
                  class="key-features-img"
                  alt="image"
                />
              </div>
            </div>
            <div class="key-features-list-item-content">
              <h4 class="key-features-item-heading">Regular Renewals and Inspections</h4>
              <p class="key-features-list-item-desc">
                Scheduling of regular renewals and inspections to maintain ongoing
              compliance with all fire safety regulations and standards.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="services-redirect-button">
      <button class="add-to-cart-button" (click)="addProductToCart('Licensing')">
        <img src="assets/products/redirects/add-to-cart-btnimg.png" alt="" />
        Add To Cart For Enquiry</button>
    </div>
  </div>
</section>
