body{
    border: 0;
    margin: 0;
    padding: 0;
    background-color: black;
}

body::-webkit-scrollbar{
    width: 6px;
}

body::-webkit-scrollbar-track{
    background: #292929;
}

body::-webkit-scrollbar-thumb{
    background-color: #C1121F;
    border-radius: 15px;
}

 