<div class="main-container">
    <div #pic class="img-container">
        <div class="bg-pattern left"></div>
        <img src="assets/AboutUs/ceo.webp" alt="">
        <div class="bg-pattern right"></div>
    </div>
    <div #mainContainer class="content">
        <h4 #h3tag class="ceo-speaks">MD Speaks</h4>
        <p #desc class="description">
            <span class="bold">Dear Valued Clients and Team Members,</span>
            <span class="br-wrapper"><br></span>
            <span>I hope this message finds you well and in good spirits.</span>
            <br/>
            As the Managing Director of Safety सारथी, it is my honor to lead a team dedicated to improving fire safety standards across the country. Our commitment to protecting lives and property reflects the hard work of our team and the trust our clients place in us.
        </p>
        <p #desc class="description">
            <span class="bold">To Our Clients,</span>
            <br/>
            Your satisfaction and safety are our top priorities. We specialize in a wide range of firefighting systems, including suppression systems, fire sprinklers, detection systems, and passive protection solutions for industries such as hospitality, commerce, and manufacturing. Our prompt and careful handling of Annual Maintenance Contracts (AMCs) and projects demonstrates our promise to be Your Safety Partner.
        </p>
        <p #desc class="description">
            <span class="bold">To Our Team Members,</span>
            <br/>
            Your dedication and skill are the foundation of our success. I deeply appreciate your efforts to achieve excellence and your commitment to our mission. Let us continue to work together, using our expertise and passion to provide top-quality solutions and support to our clients.
            <span class="br-wrapper"><br></span>
            With our presence across India, Safety सारथी is committed to offering the best service and support. We handle turnkey projects from start to finish, ensuring a safer environment for everyone. Our goal is to be a trusted name in fire protection worldwide.
            <span class="br-wrapper"><br></span>
            Thank you for your ongoing trust and dedication.
        </p>
        <h5 #regards>Warm Regards,</h5>
        <h2 #regards class="ceo">Mr. Sagar Kulkarni</h2>
        <h3 #regards class="founder">Managing Director, Safety सारथी</h3>
    </div>
</div>