<div class="main-container">
    <div #pic class="img-container">
        <img src="assets/AboutUs/ceo.svg" alt="">
    </div>
    <div class="content">
        <h4 #h3tag class="ceo-speaks">CEO Speaks</h4>
        <p #h3tag class="description">
            <span class="bold">Dear Valued Clients and Esteemed Team Members,</span>
            <br/>
            <span>I trust this correspondence finds you in robust health and soaring spirits.</span>
            <br/>
            As the Managing Director of NFPA India Pvt Ltd, it is my distinct honor to lead a team 
            fervently committed to elevating fire safety standards nationwide. Our unwavering 
            dedication to safeguarding lives and property stands as a testament to the collective zeal 
            of our exceptional workforce and the unshakeable trust bestowed upon us by our esteemed 
            clientele.
        </p>
        <p #h3tag class="description">
            <span class="bold">To Our Esteemed Clients,</span>
            <br/>
            Your welfare and contentment stand as our paramount concern. Our specialization spans a 
            comprehensive array of firefighting systems, encompassing suppression systems, fire 
            sprinklers, detection systems, and passive protection mechanisms tailored to meet the 
            diverse needs of industries spanning hospitality, commerce, and manufacturing. Prompt 
            and meticulous execution of Annual Maintenance Contracts (AMCs) and project 
            undertakings underscores our pledge to be Your Safety सारथी..!
        </p>
        <p #h3tag class="description">
            <span class="bold">To Our Exceptional Workforce,</span>
            <br/>
            Your unwavering commitment and unparalleled proficiency form the bedrock of our 
            triumphs. I extend my profound gratitude for your relentless pursuit of excellence and 
            steadfast dedication to fortifying our societal fabric. Let us persevere unitedly, channeling 
            our expertise and passion to deliver superlative technical solutions and unwavering 
            support to our cherished clients.
            <br>
            With an expansive footprint spanning the breadth of India, NFPA India Pvt Ltd remains 
            resolutely committed to delivering unrivaled service and support, adeptly navigating 
            turnkey projects from inception to final clearance. Our vision is rooted in the creation of 
            safer environs for all, and we pledge to stand as a beacon of trust in the realm of fire 
            protection worldwide.
            <br>
            <br>
            I extend my heartfelt appreciation for your enduring trust and commitment.
        </p>
        <h5>Warm Regards,</h5>
        <h2 #h3tag class="ceo">Mr. Sagar Kulkarni</h2>
        <h3 #h3tag class="founder">Managing Director, NFPA India Pvt Ltd</h3>
    </div>
</div>