<app-carousel/>
<div class="bg-pattern left vision black"></div>
<!-- <div class="bg-pattern right vision"></div> -->
<app-our-vision/>
<!-- <div class="bg-pattern left mission"></div> -->
<div class="bg-pattern right mission black"></div>
<app-our-mission/>
<div class="bg-pattern left products black"></div>
<div class="bg-pattern right products black"></div>
<app-products/>
<div class="bg-pattern left services black"></div>
<div class="bg-pattern right services black"></div>
<app-our-services/>
<div class="bg-pattern left chart black"></div>
<!-- <div class="bg-pattern right chart"></div> -->
<app-clients-chart/>
<app-clients-loop/>
<div class="bg-pattern right counter black"></div>
<app-counter/>