<div class="main-container">
    <swiper-container
      class="mySwiper"
      loop="true"  
      autoplay="true"
      autoplay-delay="5000"
      [speed]="1000"
      effect="coverflow"
      >
      <swiper-slide #swiperSlide>
        <div #slide1 class="carousel slide1">
          <div class="imageContainer">
            <img src="assets/Home/Carousel/carousel1.webp" alt="">
          </div>
          <div class="content" #content>
            <h1 class="h1class" #slideTitle1>Lighting the Path to Safety</h1>
            <p class="pClass" #slideText1>NFPA India - Your Trusted Guardians</p>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide #swiperSlide>
        <div class="carousel slide2">
          <div class="imageContainer">
            <img src="assets/Home/Carousel/carousel2.webp" alt="">
          </div>
          <div class="content" #content>
            <h1 class="h1class">From Flames to Fortune</h1>
            <p class="pClass">NFPA India Shielding Your Dreams</p>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide #swiperSlide>
        <div class="carousel slide3">
          <div class="imageContainer">
            <img src="assets/Home/Carousel/carousel3.webp" alt="">
          </div>
          <div class="content" #content>
            <h1 class="h1class">Where Safety Meets Serenity</h1>
            <p class="pClass">NFPA India - Your Peace of Mind Partners</p>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide #swiperSlide>
        <div #slide1 class="carousel slide4">
          <div class="imageContainer">
            <img src="assets/Home/Carousel/carousel4.webp" alt="">
          </div>
          <div class="content" #content>
            <h1 class="h1class" #slideTitle1>Sparking Confidence, Extinguishing Doubt</h1>
            <p class="pClass" #slideText1>NFPA India Lighting the Way</p>
          </div>
        </div>
      </swiper-slide>

      <swiper-slide #swiperSlide>
        <div #slide1 class="carousel slide5">
          <div class="imageContainer">
            <img src="assets/Home/Carousel/carousel5.webp" alt="">
          </div>
          <div class="content" #content>
            <h1 class="h1class" #slideTitle1>Innovation in Every Spark</h1>
            <p class="pClass" #slideText1>NFPA India - Your Safety Oasis</p>
          </div>
        </div>
      </swiper-slide>      
    
    </swiper-container>
</div>