<div class="main-container">
  <div #swiperContainer class="swiper-container carouselSwiper">
    <div class="swiper-wrapper carouselWrapper">

      <!-- Slide -->
      <div class="swiper-slide">
        <div class="carousel slide1">
          <div class="imageContainer">
            <img src="assets/Home/Carousel/carousel1.webp" alt="">
          </div>
          <div class="content">
            <h1 class="h1class">Lighting the Path to Safety</h1>
            <p class="pClass">Safety सारथी - Your Trusted Guardians</p>
          </div>
        </div>
      </div>

      <!-- Slide -->
      <div class="swiper-slide">
        <div class="carousel slide2">
          <div class="imageContainer">
            <img src="assets/Home/Carousel/carousel2.webp" alt="">
          </div>
          <div class="content">
            <h1 class="h1class">From Flames to Fortune</h1>
            <p class="pClass">Safety सारथी Shielding Your Dreams</p>
          </div>
        </div>
      </div>

      <!-- Slide -->
      <div class="swiper-slide">
        <div class="carousel slide3">
          <div class="imageContainer">
            <img src="assets/Home/Carousel/carousel3.webp" alt="">
          </div>
          <div class="content">
            <h1 class="h1class">Where Safety Meets Serenity</h1>
            <p class="pClass">Safety सारथी - Your Peace of Mind Partners</p>
          </div>
        </div>
      </div>

      <!-- Slide -->
      <div class="swiper-slide">
        <div class="carousel slide4">
          <div class="imageContainer">
            <img src="assets/Home/Carousel/carousel4.webp" alt="">
          </div>
          <div class="content">
            <h1 class="h1class">Sparking Confidence, Extinguishing Doubt</h1>
            <p class="pClass">Safety सारथी Lighting the Way</p>
          </div>
        </div>
      </div>

      <!-- Slide -->
      <div class="swiper-slide">
        <div class="carousel slide5">
          <div class="imageContainer">
            <img src="assets/Home/Carousel/carousel5.webp" alt="">
          </div>
          <div class="content">
            <h1 class="h1class">Innovation in Every Spark</h1>
            <p class="pClass">Safety सारथी - Your Safety Oasis</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>